language:
  - ruby
  - java
jdk: openjdk8  
rvm:
  - 2.5.0

install:
  - bundle install
  - gem install jekyll
  - gem install s3_website

branches:
  only:
    - master

env:
  global:
    - JEKYLL_ENV=production

notifications:
  email:
    recipients:
      - deploy@theqrl.org
    on_success: always
    on_failure: always

script:
  - chmod +x _scripts/build.sh
  - _scripts/build.sh

after_success:
  - chmod +x _scripts/deploy.sh
  - _scripts/deploy.sh

sudo: false
