---
layout: default
---
<div class="wrapper hero">
  <div class="particles">
    <div class="pencil" 
      data-attach-class=".grid.team-members" 
      data-attach-position="top left" 
      data-child-anchor="top right" 
      data-offset-left="150" 
      data-offset-top="-200">
    </div>
    <div class="bw1000" 
      data-attach-class=".wrapper.events" 
      data-attach-position="top right" 
      data-child-anchor="bottom right" 
      data-offset-left="50" 
      data-offset-top="-110"
      data-scalex="-1"
      data-scale="1">
    </div>
  </div>
  <div class="particles background">
    <div class="on" 
      data-attach-class=".wrapper.hero" 
      data-attach-position="center center" 
      data-child-anchor="center center" 
      data-offset-left="0" 
      data-offset-top="260">
    </div>
  </div>
  <div class="grid">
    <div class="w12">
      <h1>The Quantum Resistant Ledger</h1>
      <p>The Quantum Resistant Ledger (QRL) will be a first of its kind, future-proof post-quantum value store and decentralized communication layer which tackles the threat Quantum Computing will pose to cryptocurrencies</p>
    </div>
  </div>
    <script src="/assets/slippry/slippry.min.js"></script>
  <link rel="stylesheet" href="/assets/slippry/slippry.css" />
  <script>
  $(function() {
    var slideshow = jQuery('.slideshow').slippry();
    $(window).on('load',function(){
    });
  });

  </script>
</div>

<div class="wrapper intro">
  <div class="grid w12"> 
    

    <div class="banner">
      <ul class="slideshow">
        <li>
          <a href="https://explorer.theqrl.org">
            <img src="/assets/front-slideshow/explorer.small.png" alt="Check out our <a href='https://explorer.theqrl.org'>QRL Explorer</a>">
          </a>
        </li>
        <li>
          <a href="https://wallet.theqrl.org">
            <img src="/assets/front-slideshow/send.small.png" alt="Check out our <a href='https://explorer.theqrl.org'>Web Wallet</a>">
          </a>
        </li>
        <li>
          <a href="https://wallet.theqrl.org">
            <img src="/assets/front-slideshow/transactions.small.png" alt="Send and receive transactions today">
          </a>
        </li>
      </ul>
    </div>



    <div class="header-section">
      <h2>What is QRL</h2>
      <h3>An introduction</h3>
    </div>
    <div class="yt-center">
      <div class="youtube-player" data-id="V8IxLDxMEb8"></div>        
    </div>
      


    <div class="header-section">
      <h2>Where you can find us</h2>
    </div>
    {% assign conference = site.conferences | sort: 'date' %}
    {% for conf in conference %}
    <div class="grid conference">
      <div class="image">
        <img src="/assets/conferences/{{ conf.image }}" alt="">
      </div>
      <div class="description">
        <h2>{{ conf.title }}</h2>
        <p>{{ conf.datestart | date_to_string }} - {{ conf.dateend | date_to_string }}</p>
        <p>{{ conf.where }}</p>
      </div>
      <div>
        <a class="cta" href="{{ conf.url }}">More Info</a>
      </div>
    </div>
    {% endfor %}


      

  </div>
</div>

<div class="wrapper team">
  <div class="grid w12">
    <div>
      <div class="header-section">
        <h2>About Us</h2>
        <h3>Our Awesome Crew</h3>
      </div>
    </div>
  </div>
  {% include team.md members=6 %}
  <div class="grid w12">
  <div class="more">
    <a href="/team" class="cta">See the whole team</a>
  </div>    
  </div>

</div>