---
layout: default
title: Protocol updates and roadmap backed by open governance
permalink: /protocol-updates/
description: "A clear vision of a resilient Post Quantum store of value and communication layer is only as good as the plan and perseverance it's backed up by."
keywords: 
  - vision
  - roadmap
  - protocol-updates
  - smart contracts
  - conensus
---

<div class="particles background">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="200" 
    data-offset-top="0"
    data-scale="0.5"
    data-parallax="2.1">
  </div>    
</div>
<div class="particles">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="0" 
    data-offset-top="100"
    data-scale="0.9"
    data-parallax="1">
  </div>
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.hero h2" 
    data-attach-position="bottom right" 
    data-child-anchor="center right" 
    data-offset-left="0" 
    data-offset-top="30"
    data-parallax="1">
  </div>  
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.features" 
    data-attach-position="top left" 
    data-child-anchor="top left" 
    data-offset-left="0" 
    data-offset-top="0"
    data-parralax="1">
  </div>
</div>

  <div class="wrapper hero">
    
    <div class="grid">
      <div class="w12">
        <h1>Protocol Updates</h1>
        <p>A clear vision of a resilient Post Quantum store of value and communication layer is only as good as the plan and perseverance it's backed up by.</p>
      </div>
    </div>
    <div class="grid">
      <div class="w12">
        <a class="cta" id="wallet-download" href="https://github.com/theQRL/qips/">View QRL Improvement Proposals (QIPs)</a>
      </div>
    </div>
  </div>
</div><!-- Close .wrapper.header -->



<div class="wrapper">
  <div class="grid">
    <div class="w12">
      <div class="header-section">
        <h2>Upcoming hard forks</h2>
        <p>The first planned QRL network hardfork is preliminarily announced for 25/02/2020, with a further suggested hard fork to follow once testing of on-chain-voting and on-chain governance through consensus changing voting proposals has been completed.</p>
      </div>

      <h3>February 2020 hard fork feature list:</h3>
      <ul>
        <li>RandomX mining algorithm upgrade</li>
        <li>Multisig addresses</li>
        <li>Extended message transaction functionality</li>
        <li>Ephemeral messaging stub functionality</li>
      </ul>
      
      <h3>Subsequent 2020 fork upgrade feature list:</h3>
      <ul>        
        <li>Deterministic address support</li>
        <li>Decentralised on-chain poll support (further testing required)</li>
        <li>On-chain governance allowing <a href="https://medium.com/the-quantum-resistant-ledger/decentralised-voting-and-trustless-autonomous-hard-forking-269d024f4edb">vote-based</a> hard fork changes to existing network parameters (further testing required).</li>
      </ul>

      <h3>Roadmap for future hard forks 2020/1 and beyond include:</h3>
      <ul>
        <li>Smart Contracts (Project Silicon)</li>
        <li>Consensus mechanism change (PoS, dPoS)</li>
      </ul>
    </div>
  </div>
</div>


<div class="wrapper qips">
  <div class="grid">
    <div class="w12">
      <div class="header-section">
        <h2>Current QRL improvement proposal (QIPs)</h2>
      </div>

      {% assign qips = site.qips | sort:'created' | reverse %} 

      {% for qip in qips %}
        <div class="qip">
          <div class="title">
            <h3>{{ qip.title }}</h3>
            {{ qip.author }}<br>
            Created: {{ qip.created | date: "%Y-%m-%d" }}
            {% if qip.updated %}
              , updated: {{ qip.updated | date: "%Y-%m-%d" }}
            {% endif %}
            {% if qip.status %}
              , status: {{ qip.status }}
            {% endif %}
          </div>
          <div class="readmore">
              {{ qip.content }}
          </div>        
          <div class="more">
            {% if qip.comments-uri %}
            <a class="cta" href="{{ qip.comments-uri }}">
              Comment on GitHub {% if qip.comments-count %}
                ({{ qip.comments-count }})
              {% endif %}
            </a> 
            {% endif %}
            <a class="cta" href="{{ qip.url }}">Read More</a>
            <a class="cta inactive" id="wallet-download" href="#">Vote</a>
          </div>
        </div>
        
      {% endfor %}

    </div>
  </div>
</div>
