---
layout: default
title: Protocol updates and roadmap backed by open governance
permalink: /protocol-updates/
description: "A clear vision of a resilient Post Quantum store of value and communication layer is only as good as the plan and perseverance it's backed up by."
keywords: 
  - vision
  - roadmap
  - protocol-updates
  - smart contracts
  - conensus
---

<div class="particles background">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="200" 
    data-offset-top="0"
    data-scale="0.5"
    data-parallax="2.1">
  </div>    
</div>
<div class="particles">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="0" 
    data-offset-top="100"
    data-scale="0.9"
    data-parallax="1">
  </div>
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.hero h2" 
    data-attach-position="bottom right" 
    data-child-anchor="center right" 
    data-offset-left="0" 
    data-offset-top="30"
    data-parallax="1">
  </div>  
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.features" 
    data-attach-position="top left" 
    data-child-anchor="top left" 
    data-offset-left="0" 
    data-offset-top="0"
    data-parralax="1">
  </div>
</div>

  <div class="wrapper hero">
    
    <div class="grid">
      <div class="w12">
        <h1>Protocol Updates</h1>
        <p>A clear vision of a resilient Post Quantum store of value and communication layer is only as good as the plan and perseverance it's backed up by.</p>
      </div>
    </div>
    <div class="grid">
      <div class="w12">
        <a class="cta" id="wallet-download" href="https://github.com/theQRL/qips/">View QRL Improvement Proposals (QIPs)</a>
      </div>
    </div>
  </div>
</div><!-- Close .wrapper.header -->



<div class="wrapper">
  <div class="grid">
    <div class="w12">
      <div class="header-section">
        <h2>A quick glimpse<h2>
        <h3>Our road map</h3>
      </div>

      <img src="/assets/timeline-min.png">

      <div class="header-section">
        <h2>what we've done</h2>
        <h3>Current features</h3>
      </div>
      <ul>
        <li><a href="https://qrl.foundation/assets/QRLF-PR-20180626.pdf">Quantum Secure Blockchain using XMSS</a> with a 100% pq-secure address space.</li>
        <li><a href="https://github.com/theQRL/qrl-wallet">GUI wallet for Mac, Windows, and Linux</a></li>
        <li><a href="https://docs.theqrl.org/tools/notarisation/">Notarisation</a></li>
        <li><a href="https://github.com/theQRL/block-explorer">Full block explorer functionality</a></li>
        <li><a href="https://docs.theqrl.org/wallet/create-tokens/">Quantum Resistant Tokens (QRT’s)</a></li>
        <li>Multiple external audits <a href="https://medium.com/the-quantum-resistant-ledger/red4sec-security-audit-concludes-a-summary-563ecfe04c75">red4sec</a> and <a href="https://www.x41-dsec.de/">x41 D-sec</a></li>
        <li><a href="https://docs.theqrl.org/developers/address/">Extensible address format</a></li>
        <li><a href="https://github.com/theQRL/QRL">Multi-platform QRL node release</a></li>
        <li><a href="https://medium.com/the-quantum-resistant-ledger/the-qrl-bromine-hardfork-a-look-inside-2eed61ea90fd">Multisignature transactions</a></li>
        <li><a href="https://github.com/tevador/RandomX">RandomX</a></li>
        <li><a href="https://github.com/theQRL/ephemeral">Ephemeral Messaging System (EMS) Stub and Tooling</a></li>
        <li><a href="https://medium.com/the-quantum-resistant-ledger/qrl-and-keybase-84968003bca2">Keybase Integration</a></li>
        <li><a href="https://api.theqrl.org/">Multiple API’s</a></li>
        <li><a href="https://support.ledger.com/hc/en-us/articles/360019184453-Quantum-Resistant-Ledger-QRL-">Hardware wallet support with Ledger Nano S/X</a></li>
        <li>Mobile wallets for <a href="https://apps.apple.com/ca/app/qrl-wallet/id1458620542">iOS</a> and <a href="https://medium.com/the-quantum-resistant-ledger/the-qrl-mobile-wallet-is-officially-launched-e3014dd79d8e">Android</a></li>
        <li><a href="https://github.com/theQRL/offline-wallet-generator">Off-line wallet generator</a></li>
        <li><a href="https://docs.theqrl.org/node/docker/">Docker QRL Node Support</a></li>
    </ul>

    <div class="header-section">
      <h2>Things to look forward too</h2>
      <h3>Upcoming features</h3>
    </div>
      <ul>
        <li><a href="https://www.enqlave.io/">enQlave: The quantum safe for your crypto assets</a></li>
        <li><a href="https://github.com/theQRL/go-qrl">GO-QRL</a></li>
        <li>QRL Tipbot</li>
        <li>Proof-of-Stake</li>
        <li>Smart contracts</li>
        <li>Deterministic address support</li>
        <li>Full <a href="https://github.com/theQRL/ephemeral/">Ephemeral Messaging System (EMS)</a> with decentralized network support</li>
      </ul>
    </div>
  </div>
</div>


<div class="wrapper qips">
  <div class="grid">
    <div class="w12">
      <div class="header-section">
        <h2>Get involved</h2>
        <h3>Current QRL improvement proposal (QIPs)</h3>
      </div>

      {% assign qips = site.qips | sort:'created' | reverse %} 

      {% for qip in qips %}
        <div class="qip">
          <div class="title">
            <h3>{{ qip.title }}</h3>
            {{ qip.author }}<br>
            Created: {{ qip.created | date: "%Y-%m-%d" }}
            {% if qip.updated %}
              , updated: {{ qip.updated | date: "%Y-%m-%d" }}
            {% endif %}
            {% if qip.status %}
              , status: {{ qip.status }}
            {% endif %}
          </div>
          <div class="readmore">
              {{ qip.content }}
          </div>        
          <div class="more">
            {% if qip.comments-uri %}
            <a class="cta" href="{{ qip.comments-uri }}">
              Comment on GitHub {% if qip.comments-count %}
                ({{ qip.comments-count }})
              {% endif %}
            </a> 
            {% endif %}
            <a class="cta" href="{{ qip.url }}">Read More</a>
            <a class="cta inactive" id="wallet-download" href="#">Vote</a>
          </div>
        </div>
        
      {% endfor %}

    </div>
  </div>
</div>
