---
layout: default
title: "QRL academic citations and cryptographic fundamentals"
permalink: /research/
description: "The QRL is cited in and backed by the research of individuals, organizations and institutions. Read more about the cryptographic fundamentals and seminal papers that back the provably quantum secure blockchain"
keywords: 
  - vision
  - roadmap
  - protocol-updates
  - smart contracts
  - consensus
  - research
  - academia
---

<div class="particles background">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="200" 
    data-offset-top="0"
    data-scale="0.5"
    data-parallax="2.1">
  </div>    
</div>
<div class="particles">
  <div class="particle" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="0" 
    data-offset-top="100"
    data-scale="0.9"
    data-parallax="1">
  </div>
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.hero h2" 
    data-attach-position="bottom right" 
    data-child-anchor="center right" 
    data-offset-left="0" 
    data-offset-top="30"
    data-parallax="1">
  </div>  
</div>
<div class="particles">
  <div class="pencil" 
    data-attach-class=".wrapper.features" 
    data-attach-position="top left" 
    data-child-anchor="top left" 
    data-offset-left="0" 
    data-offset-top="0"
    data-parralax="1">
  </div>
</div>

  <div class="wrapper hero">
    
    <div class="grid">
      <div class="w12">
        <h1>Scientific Literature</h1>
        <p>The QRL is cited in and backed by the research of individuals, organizations and institutions. Read more about the cryptographic fundamentals and seminal papers that back the provably quantum secure blockchain</p>
      </div>
    </div>
  </div>
</div><!-- Close .wrapper.header -->



<div class="wrapper research">
  <div class="grid">
    <div class="w12">
      <div class="header-section">
        <h2>Citations</h2>
      </div>

      <ul>
      {% for paper in site.data.papers %}
        {% assign category = paper.category | downcase %}
        {% if category == 'citations' %}
          <li>
            <strong>{{ paper.name }}</strong>
            <a href="{{ paper.link }}">{{ paper.link }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>

      <div class="header-section">
        <h2>NIST</h2>
        <p></p>
      </div>      

      <ul>
      {% for paper in site.data.papers %}
        {% assign category = paper.category | downcase %}
        {% if category == 'nist' %}
          <li>
            <strong>{{ paper.name }}</strong>
            <a href="{{ paper.link }}">{{ paper.link }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      
      <div class="header-section">
        <h2>Cryptographic Fundamentals</h2>
        <p></p>
      </div>      

      <ul>
      {% for paper in site.data.papers %}
        {% assign category = paper.category | downcase %}
        {% if category == 'cryptography' %}
          <li>
            <strong>{{ paper.name }}</strong>
            <a href="{{ paper.link }}">{{ paper.link }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>


      <div class="header-section">
        <h2>Seminal Papers</h2>
      </div>
      <ul>
      {% for paper in site.data.papers %}
        {% assign category = paper.category | downcase %}
        {% if category == 'seminal' %}
          <li>
            <strong>{{ paper.name }}</strong>
            <a href="{{ paper.link }}">{{ paper.link }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>

    <div class="header-section">
        <h2>Further Reading</h2>
      </div>
      <ul>
      {% for paper in site.data.papers %}
        {% assign category = paper.category | downcase %}
        {% if category == 'further-reading' %}
          <li>
            <strong>{{ paper.name }}</strong>
            <a href="{{ paper.link }}">{{ paper.link }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<style type="text/css">
.research .header-section + ul strong {
  display:block;
}
</style>
