---
layout: default
title: Team
permalink: /team/
---
<div class="particles">
    <div class="pencil" 
      data-attach-class=".grid.team-members" 
      data-attach-position="top left" 
      data-child-anchor="top right" 
      data-offset-left="150" 
      data-offset-top="0">
    </div>  
</div>
<div class="wrapper hero">
  <div class="grid">
    <div class="w12">
      {% if page.url == "/team/" %}
         <span class="teamPageId">OUR TEAM</span>
      {% endif %}
      <h1>Meet the Core-contributors</h1>
      <p>We are a highly dedicated and experienced team of technical developers, quantum physics researchers and business professionals who created the first and only enterprise-grade blockchain platform backed by quantum resistant, independently audited and IETF standardized eXtended Merkle Tree Signature Scheme (XMSS).  We are early cryptocurrency and blockchain adopters who identified and addressed a fundamental security vulnerability common to leading projects such as Bitcoin and Ethereum, which rely on ECDSA and remain susceptible to quantum-computer attack. Supported by our fast-expanding community, we are developing a suite of core functions that will allow business companies and individuals alike to build securely on top of and alongside the QRL platform.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper team">
  {% include team.md %}
</div>