---
layout: default
title: Team
permalink: /team/
---
<div class="particles">
    <div class="pencil" 
      data-attach-class=".grid.team-members" 
      data-attach-position="top left" 
      data-child-anchor="top right" 
      data-offset-left="150" 
      data-offset-top="0">
    </div>  
</div>
<div class="wrapper hero">
  <div class="grid">
    <div class="w12">
      {% if page.url == "/team/" %}
         <span class="teamPageId">OUR TEAM</span>
      {% endif %}
      <h1>Meet the Core-contributors</h1>
      <p>We are a mission critical organisation building enterprise grade software for an adversarial future.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper team">
  {% include team.md %}
</div>


{% comment %}<div class="wrapper jobs">
	<div class="grid w12">
	    <div>
	      <div class="header-section">
	        <h2>We're Hiring</h2>
	        <h3>Our Awesome Crew</h3>
	      </div>
	    </div>
  	</div>
  	<div class="listing">
		
  	</div>
</div>{% endcomment %}