<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>

    <meta name="description"
     content="{{ if .Summary }}{{ .Summary }}{{ else }}The Quantum Resistant Ledger (QRL) is a first-of-its-kind, post-quantum value store and decentralized communication layer proactively tackling the threat advanced Quantum Computers pose to cryptocurrencies{{ end }}">
    <meta name="keywords" content="quantum resistant, quantum proof, blockchain, crypto-currency, cryptocurrency, quantum blockchain, quantum computer, bitcoin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="google-site-verification" content="kpNDf1jcs5t12PcEr3SnoX1pzclVezxfystHfJgbvuk" />
    <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffa729">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#0b181e">
    <meta name="ahrefs-site-verification" content="2e997068b41d39416d193d32bd78cfca807df23e7d2a320f52fe7fa309fb3554">

    {{ $options := (dict "targetPath" "css/app.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
    {{ $style := resources.Get "sass/app.scss" | resources.ToCSS $options }} 
    <link rel="stylesheet" href="{{ $style.Permalink }}" />


    <!-- Google Analytics -->
    <!-- GA4 Global site tag (gtag.js) - Google Analytics -->
    {{ $js := resources.Get "js/header.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMTF29918D"></script>
    <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    <!-- END Global site tag (gtag.js) - Google Analytics -->

    {{ if .Params.mathjax }}
      {{ partial "elements/mathjax.html" . }}
    {{ end }}

    <!-- Start opengraph -->
    {{ partial "elements/opengraph.html" . }}
    <!-- End Opengraph -->

    <!-- Start schema --> 
    {{ partial "elements/schema.html" . }}
    <!-- End Schema -->

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if .Params.redirect }}
    <meta http-equiv="refresh" content="0;url={{ .Params.redirect }}" />
    {{ end }}
  </head>
