//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1440px;

//fonts
$font-1: Helvetica, Tahoma, Arial, sans-serif;
$f-DinM: 'Alte DIN 1451 Mittelschrift', sans-serif;
$f-DinB: 'Alte DIN 1451 Mittelschrift Bold', sans-serif;
$f-DinL: 'Alte DIN 1451 Mittelschrift', sans-serif;
$f-DinR: 'Alte DIN 1451 Mittelschrift', sans-serif;
$f-ProR: 'Source Sans Pro', sans-serif;
$f-ProL: 'Source Sans Pro ExtraLight', sans-serif;
$f-ProB: 'Source Sans Pro Bold', sans-serif;
$f-ProS: 'Source Sans Pro Bold', sans-serif; // I think this is supposed to be black... Making it bold though as black is... too much.

//colors
$color-1: #000;
$color-2: #fff;
$color-5: #fff;
$color-3: #fff;
$color-4: #fff;
$color-white: #fff;
$color-black: #0a1720;
$color-yellow: #FFA729;
$color-blue: #4AAFFF;


// timing
$time-3: 300ms ease-in-out;
$time-sm: 500ms ease-in-out;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
