$all-text-inputs: 'input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"], input[type="week"], textarea';
/*
// Input styling
#{$all-text-inputs} {
  height: 48px;
  padding: 14px 26px;
  border-radius: 2px;
  border: 1px solid rgba($color-4, .4);
  font-family: $font-1;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .25px;
  font-weight: 400;
  color: $color-4;
  @media (max-width: $sm) {
    padding: 14px 18px;
  }

  &[disabled] {
    border: none;
    background-color: rgba($color-4, .1);
    font-family: $font-2;
    font-size: 18px;
    font-weight: 500;
    opacity: 1; // fix for safari
  }
}

textarea {
  height: 114px;
  resize: none;
  overflow: auto;
}
*/
/*
// Select menu styling
.select-menu__wrapper {
  position: relative;
}

.select-menu {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.ss-selected-option {
  @extend input[type="text"];
}
*/
/*
// Checkbox and Radio styling
.checkbox-wrapper {
  position: relative;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  label {
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 1px solid $color-4;
    }
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      transition: background-color .2s ease-in-out;
    }
  }

  input:checked + label {
    &::after {
      background-color: $color-3;
    }
  }
}
*/
/*
// Radio like button
.radio-button {
  position: relative;
  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  label {
    width: 100%;
    height: 48px;
    padding: 18px 28px;
    border-radius: 2px;
    border: 1px solid rgba($color-4, .4);
    font-family: $font-1;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: $color-4;
    cursor: pointer;
    transition: .2s ease-in-out;
    transition-property: border-color, background-color, color;
    @media (max-width: $sm) {
      padding: 18px 20px;
    }
  }

  input:checked + label {
    border-color: $color-3;
    background-color: $color-3;
    color: $color-2;
  }
}
*/
/*
// Range input styling
.range-input-label {
  margin-right: 20px;
  width: 112px;
  text-align: center;
  @media (max-width: $sm) {
    width: 96px;
  }
}

@mixin rangeThumb {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: $color-3;
  cursor: pointer;
}

@mixin rangeTrack {
  height: 3px;
  border-radius: 1px;
  background-color: $color-4;
}

.range-input {
  width: calc(100% - 132px);
  -webkit-appearance: none;
  @media (max-width: $sm) {
    width: calc(100% - 116px);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    @include rangeThumb;
  }
  &::-moz-range-thumb {
    @include rangeThumb;
  }
  &::-ms-thumb {
    @include rangeThumb;
    margin-top: 0;
  }

  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }
  &::-moz-range-track {
    @include rangeTrack;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    @include rangeTrack;
  }
}
*/
