<div class="wrapper footer">
  <div class="grid w6">
    <div class="w12">
      <h3>Footer</h3>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sint quis modi at aperiam, porro maiores recusandae rerum est dolore numquam in debitis laudantium excepturi voluptate ratione consectetur? Est, dolorum.</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, aperiam. Ad pariatur maiores fugit expedita minima unde labore, quam debitis animi esse in numquam nostrum beatae ex veniam nihil excepturi.</p>
    </div>
  </div>
</div>

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  <div class="wrapper header">
    <div class="grid collapse">
      <div class="logo">
        <a href="/">
          <img src="/assets/logo.png" alt="">
        </a>
      </div>
      <div class="menu">
        {% if page_paths %}
        <nav>
          <ul>
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>         
        </nav>
        {% endif %}

      </div>
      <div class="whitepaper">
        <nav class="click">
          <ul>
            <li><a href="">Whitepaper</a>
              <ul>
                <li><a href="">English</a></li>
                <li><a href="">Chinese</a></li>
                <li><a href="">German</a></li>
                <li><a href="">French</a></li>
                <li><a href="">Japanese</a></li>
                <li><a href="">Russian</a></li>
                <li><a href="">Spanish</a></li>
                <li><a href="">Turkish</a></li>
                <li><a href="">Vietnamese</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>