<div class="wrapper events">
  <div class="grid w12">
      <div class="header-section">
        <h2>Catch the team talking at</h2>
        <h3>Events and Conferences</h3>
      </div>
  </div>
  <div class="grid w6 footer-conferences">
      {% assign conference = site.conferences | sort: 'date' %}
      {% for conf in conference %}
      <div class="footer-conference">
        <div class="image">
          <img src="/assets/conferences/{{ conf.image }}" alt="">
        </div>
        <div>
          <h2>{{ conf.title }}</h2>
          <p>{{ conf.datestart | date_to_string }} - {{ conf.dateend | date_to_string }}</p>
          <p>{{ conf.where }}</p>
        </div>
        <div>
          <a class="cta" href="{{ conf.link_tickets }}">See Website</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

<div class="wrapper footer">
  <div class="grid w12">
    <div>
      <h3>From the Blog</h3>
    </div>
  </div>
  <div class="grid w6 blogroll">

  </div>
</div>

<div class="wrapper footer-signup">
  <div class="grid w6">
    <div class="newsletter">
      <form action="https://theQRL.us15.list-manage.com/subscribe/post?u=320d425bdf5f1ebac6339bb6b&amp;id=49498f9dd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
      <div class="grid w6 no-padding">
        <div class="mc-field-group w8">
          <label for="mce-EMAIL">Newsletter</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="text" name="b_320d425bdf5f1ebac6339bb6b_49498f9dd0" tabindex="-1" value="" style="display:none;">
        </div>
        <div class="submit w4">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui large primary button">
        </div>
      </div>
    </form>
    </div>
    <div class="social">
      <ul>
        <li><a href="https://github.com/theQRL/QRL/"><simple-svg data-icon="mdi-github-circle"></simple-svg>Github</a></li>
        <li><a href="https://www.medium.com/the-quantum-resistant-ledger/"><simple-svg data-icon="fa-medium"></simple-svg>Medium</a></li>
        <li><a href="https://www.reddit.com/r/qrl"><simple-svg data-icon="ion-social-reddit-outline"></simple-svg>Reddit</a></li>
        <li><a href="https://twitter.com/qrledger"><simple-svg data-icon="mdi-twitter"></simple-svg>Twitter</a></li>
        <li><a href="https://discord.gg/jBT6BEp"><simple-svg data-icon="mdi-discord"></simple-svg>Discord</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper footerlinks">
  <div class="grid w2">
    <div class="w4">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg><br>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div>
      <h3>Encryption</h3>
      <ul>
        <li><a href="https://datatracker.ietf.org/doc/draft-irtf-cfrg-xmss-hash-based-signatures/">XMSS</a></li>
        <li><a href="https://huelsing.files.wordpress.com/2013/05/wotsspr.pdf">Winternitz OTS+</a></li>
        <li><a href="https://eprint.iacr.org/2017/634.pdf">Kyber</a></li>
        <li><a href="https://cryptojedi.org/papers/dilithium-20170627.pdf">Dilithium</a></li>
      </ul>      
    </div>
    <div>
      <h3>Whitepaper</h3>
      <ul>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper.pdf">English</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_Russian.pdf">Russian</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper_spanish_translation.pdf">Spanish</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_french_translation.pdf">French</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_Japanese.pdf">Japanese</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_vietnamese_translation.pdf">Viatnamese</a></li>
      </ul>  
    </div>

    <div>
      <h3>Resources</h3>
      <ul>
        <li><a href="https://explorer.theqrl.org">Explorer</a></li>
        <li><a href="https://wallet.theqrl.org">Web Wallet</a></li>
        <li><a href="https://wallet.theqrl.org">Documentation</a></li>
        <li><a href="https://github.com/theQRL/QRL/">Github</a></li>
      </ul>  
    </div>

    <div>
      <h3>Social</h3>
      <ul>
        <li><a href="https://www.medium.com/the-quantum-resistant-ledger/">Medium</a></li>
        <li><a href="https://twitter.com/qrledger">Twitter</a></li>
        <li><a href="https://www.reddit.com/r/qrl">Reddit</a></li>
        <li><a href="https://discord.gg/jBT6BEp">Discord</a></li>
      </ul>  
    </div>
  </div>
</div>