<div class="wrapper footer">
  <div class="grid w6">
    <div class="w12">
      <h3>Footer</h3>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sint quis modi at aperiam, porro maiores recusandae rerum est dolore numquam in debitis laudantium excepturi voluptate ratione consectetur? Est, dolorum.</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, aperiam. Ad pariatur maiores fugit expedita minima unde labore, quam debitis animi esse in numquam nostrum beatae ex veniam nihil excepturi.</p>
    </div>
  </div>
</div>