  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <div class="wrapper header">
    <div class="shadow"></div>
    <div class="grid collapse">
      <div class="logo">
        <a href="/">
          <img src="/assets/logo-horizontal4b.svg" alt="">
        </a>
      </div>
      <div class="menu">
        {% if page_paths %}
        <nav>
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li class="dropdown">
              <a href="/#getting-started">Getting started</a>
              <ul>
                <li><a href="https://international.bittrex.com/Market/Index?MarketName=BTC-QRL">Buy & Sell QRL</a></li>
                <li><a href="https://wallet.theqrl.org">Web wallet</a></li>
                <li><a href="https://github.com/theQRL/qrl-wallet/releases/latest">Desktop Wallets</a></li>
                <li><a href="https://docs.theqrl.org/mining/mining/">Mining</a></li>
                <li><a href="https://docs.theqrl.org/node/QRLnode/">Nodes</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/faq">Developers</a>
              <ul>
                <li><a href="https://github.com/theQRL/">Github</a></li>
                <li><a href="https://api.theqrl.org">API</a></li>
                <li><a href="https://api.theqrl.org/#wallet-api">API: Wallet</a></li>
                <li><a href="https://api.theqrl.org/#explorer-api">API: Explorer</a></li>
                <li><a href="https://docs.theqrl.org">Documentation</a></li>
                <li><a href="/#contributors">Contributors</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/research">Academia</a>
              <ul>
                <li><a href="/research/#s:citations">Citations</a></li>
                <li><a href="/research/#s:references">Cryptography</a></li>
                <li><a href="/research/#s:references">Seminal Papers</a></li>
              </ul>
            </li>
            <li><a href="https://medium.com/the-quantum-resistant-ledger">Announcements</a></li>
            <li><a href="/protocol-updates/">Protocol Updates</a></li>
          </ul>         
        </nav>
        {% endif %}
      </div>
    </div>