  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <div class="wrapper header">
    <div class="grid collapse">
      <div class="logo">
        <a href="/">
          <img src="/assets/logo-horizontal4b.svg" alt="">
        </a>
      </div>
      <div class="menu">
        {% if page_paths %}
        <nav>
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li><a href="/#getting-started">Getting started</a></li>
            <li class="dropdown">
              <a href="/faq">Developers / API</a>
              <ul>
                <li><a href="https://api.theqrl.org">API Documentation</a></li>
                <li><a href="https://docs.theqrl.org">Documentation</a></li>
                <li><a href="/#contributors">Contributors</a></li>
              </ul>
            </li>
            <li><a href="https://medium.com/the-quantum-resistant-ledger">Announcements</a></li>
            <li><a href="/protocol">Protocol Updates</a></li>
          </ul>         
        </nav>
        {% endif %}

      </div>

    </div>