<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	{% if page.title %}	
		{{ page.title }} -
	{% endif %} 
	{{ site.title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500|Roboto:300,400,500" rel="stylesheet">
	<script type="text/javascript" src="/assets/xml2json.min.js"></script>
	<script src="/assets/main.js"></script>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" >
</head>