<head>
	<script src="/assets/jquery.min.js"></script>

	<meta charset="utf-8">
  	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">{% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	{% if page.title %}	{{ page.title }} - {% endif %} 
	{{ site.title }}
	</title>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" >
</head>
