/* blog-inner.scss:107 */
.blogPageInner .blog-article ul p {
  margin: 0 0 10px 0px;
}


.twitter-tweet {
  margin: 10px auto;
}
/* .blogPageInner .blog-article img:first-of-type {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */


.blogPageInner .blog-article ol {
	font-size: 18px;
	line-height: 26px;
	padding-left: 18px;
	margin: 40px 0;
}

.blogPageInner .blog-article ol > li {
	list-style-type: decimal;
	font-size: 18px;
	line-height: 26px;
}
.blogPageInner .blog-article ol > li,
.blogPageInner .blog-article ul > li {
	margin: 5px;
}
.blogPageInner .blog-article ol ul,
.blogPageInner .blog-article ol ol {
	margin-bottom: 0px; margin-top: 0px;
}

.blogPageInner .blog-article ol p {
	margin: 0;
}

/* This might have unintended consequences, but I haven't seen any */
.blogPage .blogPageInner {
	padding-top: 0;
}

.blogPageInner .blog-article pre {
	tab-size: 4;
	margin: revert;
}

.blogPageInner .blog-article code span {
	font-size: unset;
}

.security__text a {
	color: #4aafff;
	-webkit-transition: opacity .3s ease-in-out,color .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out,color .3s ease-in-out;
	transition: opacity .3s ease-in-out,color .3s ease-in-out;
}

.security__text a:hover {
	color: #ffa729;
}

.grid-markets {

}
.grid-markets .core__el__img img {
	object-fit: contain;
}

.grid-markets .core__el__img {
	text-align: center;
	padding: 40px;
	background-color:#FCFCFC;
}
.coreTeam .grid-markets .core__el {
	/*margin-top: 0;*/
	margin-bottom: 40px;
}
.core-team-head__inner {
  margin-bottom:20px;
}

.coreTeam .core-page .grid-three-cols {
  margin-bottom: 80px;
}

.timeline-content {
  margin-top: 50px;
  text-align: center;
}
/* .core__el__inner {
  overflow: hidden;
  white-space: normal;
} */
.timeline {
  border-left: 3px solid #FFA729;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #ECEDED;
  color: rgba(0, 0, 0, 0.8);
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;
}
.timeline h1 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}

.timeline ul {
  padding-left:20px;
  list-style: disc;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: #444;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 140px;
}
.timeline .event:after {
  left: -56.85px;
  background: #FFA729;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
.future .timeline .event:after {
  background: #4AAFFF;
}
.future .timeline {
  border-left: 3px solid #4AAFFF;
}
.timeline-content .container-mini > h2:after {
  display:none;
}

.timeline .date {
  display:none;
}

@media screen and (max-width: 767px) {
  .grid-markets.grid-three-cols {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
  }
  .timeline .event:before {
    display:none;
    left: -217.5px;
    color: #444;
    content: '';
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 140px;
  }

  .timeline .date {
    display: block;
  }

}
.popup-edit h3 {
    margin-bottom: 10px;
    line-height: 24px;
}

.contributors .list li a {
  border-bottom: unset;
}

.ghover path {
  transition: 500ms ease-in-out;
}

.ghover:hover path {
    fill: #4aafff;
}
.others {
  margin-top: -10px;
}
.others a {
  display: inline;
  border-radius: 0;
  color: rgba(10,23,32,0.5);
  text-transform: none;
  background-color: unset;
}
.others a:hover {
  color: #ffa729;
  background-color: unset;
}
.single-md ul {
  font-size: 18px;
  line-height: 26px;
  margin: 40px 0;
}
.single-md ul li {
    list-style-type: disc;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}
.single-md h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Alte DIN 1451 Mittelschrift';
  font-weight: bold;

}
.single-md a {
  text-decoration: underline;
  transition: 500ms ease-in-out;
}
.single-md a:hover {
  color: #ffa729;
}
.no-ul {
  text-decoration: none !important;
}
.blog .small-p a {
  background-color: rgba(255,167,41,0.2);
}
.blog .small-p a:hover {
  color: #FFA729;
}
.single-md {
  margin: 50px;
}
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup {
  background-color: #0a1720;
  margin-top: 10px;
  padding: 20px 26px;
  transition: .5s ease-in-out;
  position: relative;
  transition-property: color,background-color;
  z-index: 2;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  font-family: "Source Sans Pro",sans-serif;
  cursor: default;
  border-top: 6px solid #4AAFFF;
  border-radius: 6px;
}
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:36px;}
#mc_embed_signup input {color:#FFF;border: 1px solid #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#4AAFFF;caret-color: #FFF;}
#mc_embed_signup .button {
  border: 0;
  height: 40px;
  width: 156px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  display: block;
  background-color: #4AAFFF;
  font-size: 14px;
  font-family: "Alte DIN 1451 Mittelschrift",sans-serif;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
#mc_embed_signup .button:hover {    background-color: #0891ff;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;font-weight: bold;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}     
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:0;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
#mc_embed_signup .subfield {
  display: inline;
  width: fit-content;
}
#mc_embed_signup input[type=checkbox]{
  -webkit-appearance:checkbox;height:20px;
  display: inline;
}
#mc_embed_signup a {
  text-decoration: underline;
  transition: 300ms ease-in-out;
}
#mc_embed_signup a:hover {
  color: #FFA729;
}

.joanclarke {
  position: inherit;  
}
.av-checkbox {
  position: absolute !important;
  width: auto !important;
}
.checkbox > span {
  margin-left: 20px !important;
}