body {
	font-family: $body_font;
}
.grid > div {
	padding:10px;
}
.header .grid,
.footernav .grid {
	grid-template-columns: 138px 1fr min-content;
}

a {
	color:$quantum_burst;
}

/* Elements */
// Call-to-action
a.cta {
	background-color:#dc255d;
	padding:10px 20px;
	color:#FFF;
	text-decoration: none;
	box-shadow: $shadow;
	display: inline-block;
}

.slideshow {
	img {
		box-shadow: $shadow;
	}
}
.team-members {
	> div {
		background-color:#4a484d;
		color:#FFF;
		text-align: center;
	}
	.name {
		font-family: $heading_font;
		font-size:28px;
		max-width:160px;
		margin:0 auto;
	}
	.position {
		padding-top:20px;
		font-family: $body_font;
		color:#30aa9a;
		text-transform: uppercase;
	}
}
.blog-card {
	.title a {
		font-family: $heading_font;
		color:#FFF;
		text-decoration: none;
		font-size:20px;

	}
	&:first-child {
		.title a {
			font-size:30px;
		}
	}
}
.header-section {
	text-align: center;
			max-width: 600px;
			margin:0 auto;

	h2 {
		color:#77F;
		text-transform: uppercase;
		font-size:10px;
	}
	h3 {
		font-size:25px;
		margin:0 0 10px 0;
	}
	p {
		max-width: 600px;
		margin:0 auto;
		font-weight: 400;
	}
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width:100%;
		margin-top: 30px;

	}
	.video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: $shadow;
	}

}
nav a {
	padding:5px 10px;
	text-decoration: none;
	color:#000;
}


.wrapper.hero {
	text-align:center;

	h1 {
		font-weight: 300;
	}
	p {
		max-width: 400px;
		margin:0 auto;
		font-family: $heading_font;
	}
	.cta {
		margin-top: 20px;
	}
}



.grid.support {
	svg {
		fill: $quantum_burst;
		max-height: 120px;
	}
	div {
		text-align: center;
	}
}
.header {
	position:relative;
	z-index: 10;
	.grid {
		max-width: 1300px;
	}
	@include md {
		padding-top:20px;
	}

	.logo img {
		max-width: 100%;
		height:auto;
	}
	li svg {
		max-height:12px;
	}
	.menu nav {
		svg {
			display:block;
			@include sm {
				display:none;
			}
		}
		a {
			font-size: 0;

			@include sm {
				font-size:13px;
			}
		}
		padding-top: 30px;

		@include sm {	padding-left:0px; }
		@include md {	padding-left:20px; }
		@include lg {	padding-left:50px; }
	}
	.whitepaper nav {
		padding-top: 20px;
	}
	nav a {
		font-family: 'Quicksand';
		font-weight: 500;
		font-size:13px;
		text-transform: uppercase;
		@include md {
			padding:5px 20px;
		}
		@include lg {
			padding:5px 30px;
		}

	}
}

.wrapper.intro {
	&:before {
		background-color:#F3F3F3;
		content:'';
		display: block;
		width:100%;
		height:100px;
		position: relative;
		top:-100px; margin-bottom: -400px; margin-top:320px;
		overflow: hidden;
		@include angle-edge($angle: 3, $angle-position-y: 'top', $angle-position-x: 'right');
		z-index: -1;

	}
	// @include angle-edge($angle: 2.5, $angle-position-y: 'both', $angle-position-x: 'right', $angle-position-bottom-x: 'left', $angle-bottom:1.5);
	padding:0px 0;
	background-color:#F3F3F3;
}

.conference {
	background-color:#160529;
	color:#FFF;
	margin-bottom: 20px;
	box-shadow: $shadow;
	.image {
		background-color:#FFF;
	}
	h2 {
		font-weight: 500;
		margin:0;
	}
	p {
		margin:0;
		font-family: $heading_font;
		font-weight: 400;
	}
}
.whitepaper {
	svg {
		display:inline-block;
	}
	nav > ul > li {
		a {
			font-family: 'Roboto';
			background-color:#F3F3F3;
			text-decoration: none;
			color: #000;

			&:hover {
				background-color:#EEE;
			}
		}
		> a {
			border:1px solid #000;
			padding:10px 20px;
			box-shadow: $shadow;
		}

		> ul {
			margin-top:-1px;
			flex-direction:column;
			border:1px solid #000;
			border-top:0px;

			a {
				padding:5px 10px;			
			}
		}


	}
}
.footernav {
	background-color:#160527;

	a {
		color:#FFF;
	}
}
.footernav .grid {
	.whitepaper {
		nav > ul > li {
			a {
				font-family: 'Roboto';
				background-color: transparent;
				text-decoration: none;
				color: #FFF;

				&:hover {
					background-color:#EEE;
				}
			}
			> a {
				border:0px solid #000;
				padding:10px 20px;
				box-shadow: none;
			}
		}
	}
}
.wrapper.footer {
	background-color:#160527;
	color:#FFF;
}
