body {
	font-family: $body_font;
	position:relative;
	background:
		url('/assets/particles/dots-topright.small.png') no-repeat top -20px right -10px;
}
body.homepage {
	background:
		url('/assets/particles/dots-topright.small.png') no-repeat top -20px right -10px,
		url('/assets/particles/on-small.png') no-repeat top 200px center;

	@include lg {
	background:
		url('/assets/particles/dots-topright.small.png') no-repeat top -20px right -10px,
		url('/assets/particles/on-small.png') no-repeat top 400px center;
	}
	
}

.overflow {
	position:relative;
}
.grid > div {
	padding:10px;
}
.header .grid {
	grid-template-columns: 138px 1fr min-content;
}

.wrapper {
	&:before,
	&:after,
	> .grid {
		position:relative;
	}
	&:before,
	&:after {
		z-index: 1;
	}
	
	@include md-max {
		&:before,
		&:after {
			// z-index: 1;
		 //    margin: 0 !important;
		 //    top: 0 !important;
		 //    bottom: 0 !important;
		 //    content: unset !important;
		}		
	}

	> .grid {
		z-index: 5;
	}
	padding-top:10px;
	padding-bottom:10px;

	@include md {
		// padding-top:150px;
		// padding-bottom:150px;
	}
}


/* Stripes */
.wrapper:nth-child(odd) {
	background-color:#F3F3F3;
	&:before { background-color:#F3F3F3; }
	&:after { background-color:#F3F3F3; }
}
.wrapper:nth-child(even) {
	background-color:#FFF;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}
.wrapper:nth-child(1) {
	background-color:transparent;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}
.wrapper.hero {
	padding-top: 50px;
	padding-bottom: 200px;
	background-color:transparent;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}


a {
	color:$quantum_sky;
}

/* Elements */
// Call-to-action
a.cta {
	background-color:#dc255d;
	padding:10px 25px;
	color:#FFF;
	text-decoration: none;
	box-shadow: $shadow;
	display: inline-block;
	text-transform: uppercase;
	font-size:12px;
	font-weight:400;
}

.slideshow {
	img {
		box-shadow: $shadow;
	}
}
pre.highlight {
	overflow-x:auto;
}

.team-members {
	.image {
		position:relative;
		width:100%;
		max-width: 140px;
		border:2px solid #FFF;
		border-radius: 50%;
		box-shadow: $shadow;
		margin:31px auto;
		overflow:hidden;
		
		div {
			position:absolute;
			top:0px; left:0px;
			width:100%;
			height:100%;
			background-size: cover;
			transform: scale(1.2);
		}
		&:before {
		  padding-top: 100%;

		  display: block;
		  content: '';			
		}
	}
	> div {
		margin:10px;
		grid-column: span 12;
		
		@include md {
			grid-column: span 6;
		}
		@include lg {
			grid-column: span 4;
		}
		background-color:#4a484d;
		border: 1px solid #4A90E2;
		color:#FFF;
		text-align: center;
		box-shadow: $shadow;
	}
	.name {
		font-family: $heading_font;
		font-style: normal;
		font-weight: normal;
		line-height: 32px;
		font-size: 25px;
		text-align: center;
		color: #FFFFFF;
		padding-bottom: 16px;
	}
	.role {
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 13px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;

		color: #1EE9CB;
	}
	.position {
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 13px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.66;
	}
	.social {
		margin-bottom: 31px;
	}
}
.blogroll {
	.blog-card {
		display:flex;
		flex-direction:column;

		div:last-child {
		    display: flex;
		    align-items: flex-end;
		    flex-grow: 1;
		}
	}

	grid-template-columns:1fr;

	@include md {
		grid-template-areas: "a b"
		                     "a c";

		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr 1fr;

		.blog-card:nth-child(1) {
			grid-area: a;
		}
		.blog-card:nth-child(2) {
			grid-area: b;
		}
		.blog-card:nth-child(3) {
			grid-area: c;
		}
	}
}

.header-section {
	text-align: center;
	max-width: 600px;
	margin:0 auto;
	margin-bottom: 20px;
	margin-top:50px;

	h2 {
		color:$quantum_sky;
		font-weight: 400;
		text-transform: uppercase;
		font-size:13px;
	}
	h3 {
		font-size:32px;
		margin:0 0 10px 0;
	}
	p {
		max-width: 600px;
		margin:0 auto;
		font-weight: 400;
	}
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width:100%;
		margin-top: 30px;

	}
	.video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: $shadow;
	}

}
nav a {
	padding:5px 10px;
	text-decoration: none;
	color:#000;
}


.wrapper.hero {
	text-align:center;

	h1 {
		font-weight: 300;
		color:$quantum_sky;
	}
	p {
		max-width: 720px;
		font-size:21px; line-height: 42px;
		color:$quantum_deep;
		margin:0 auto;
		font-weight: 400;
		margin-top: 20px;
		font-family: $body_font;
	}
	.cta {
		margin-top: 20px;
	}
}



.header {
	// position:relative;
	padding-bottom: 0;
	position:relative;
	z-index: 10;

	.grid {
		max-width: 1300px;
	}
	@include md {
		padding-top:20px;
	}

	.logo img {
		max-width: 100%;
		height:auto;
	}
	li svg {
		max-height:12px;
	}
	.menu {

	}
	.menu nav {
		// Hamburger on small menus
		#nav-icon {
			display:none;
		}
		@include sm-max {
			z-index: 100;

			> ul {
				position:fixed;
				z-index: 100;
				top:0px; right:-100vw;
				background-color:#FFF;
				width:100%; height:100vh;
				transition: all 1s;
				flex-direction:column;

				a {
					display:block;
					width:100%;
					font-size:30px;
					padding-bottom: 20px;
					padding-top: 20px;
				}
				// right:0px;
				// transition: all 1s;
			}

			#nav-icon {
				display:block;
				width: 80px;
				height: 80px;
				position: fixed;
				bottom:20px; right:20px;
				margin: 0px auto;
				transform: rotate(0deg);
				border-radius:50%;
				padding:10px;
				transition: .5s ease-in-out;
				cursor: pointer;
				background-color:$quantum_burst;
				z-index: 200;

				span:nth-child(1) {
					top: 20px;
				}
				span {
					display: block;
					position: absolute;
					height: 4px;

					width: 50%;
					background: #FFF;
					border-radius: 9px;
					opacity: 1;
					left:20px;
					transform: rotate(0deg);
					transition: .25s ease-in-out;
				}
				span:nth-child(2),
				span:nth-child(3) {
				  top: 38px;
				}

				span:nth-child(4) {
				  top: 56px;
				}

				&.open span:nth-child(1) {
				  top: 38px;
				  width: 0%;
				  left: 50%;
				}

				&.open span:nth-child(2) {
				  transform: rotate(45deg);
				}

				&.open span:nth-child(3) {
				  transform: rotate(-45deg);
				}

				&.open span:nth-child(4) {
				  top: 28px;
				  width: 0%;
				  left: 50%;
				}
				&.open + ul {
					right:0;
				}
			}
		}
		
		svg {
			display:block;
			@include sm {
				display:none;
			}
		}
		a {
			@include sm {
				font-size:13px;
			}
		}
		padding-top: 20px;

		@include sm {	padding-left:0px; }
		@include md {	padding-left:20px; }
		@include lg {	padding-left:50px; }
	}
	.whitepaper nav {
		padding-top: 10px;
	}
	nav a {
		font-family: 'Quicksand';
		font-weight: 500;
		font-size:13px;
		text-transform: uppercase;
		@include md {
			padding:5px 20px;
		}
		@include lg {
			padding:5px 30px;
		}

	}
}




.whitepaper {
	.has-child {
		> ul {
			display:none;
		}
		> a {
			white-space: nowrap;
			svg {
				transition: all 0.4s;
				width: 12px;
				margin-right: -2px;
				position: relative;
				top: 2px;
			}
		}
		&.active {
			svg {
				transform: rotate(180deg);

			}
		}
		&.active > ul {
			display:flex;
		}
	}
	svg {
		display:inline-block;
	}
	nav > ul > li {
		a {
			font-family: 'Roboto';
			background-color:#F3F3F3;
			text-decoration: none;
			color: #000;


			&:hover {
				background-color:#EEE;
			}
		}
		> a {
			border:1px solid #000;
			padding:10px 20px;
			box-shadow: $shadow;
		}

		> ul {
			margin-top:-1px;
			flex-direction:column;
			border:1px solid #000;
			border-top:0px;

			a {
				padding:5px 10px;			
			}
		}


	}
}

.events {
	padding-top:0;
	padding-bottom: 40px;
	@include lg {
		padding-top:0px;
		padding-bottom: 200px;
	}
	&:before {
		content:'';
		display: block;
		width:100%;
		height:130px; position:relative; top:-130px; margin-top:130px; 
		margin-bottom: -280px;
		@include lg {
			margin-bottom: -200px;
		}
		@include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
	}

	.footer-conferences {
		@include lg {
			grid-column-gap: 3em;
		}


		.footer-conference {
			@include sm-max {
				grid-column: span 12;

				.cta {
					width:100%;
				}
			}
		}
	}

	.footer-conference {
		margin:10px;
		background-color:#FFF;
		box-shadow: $shadow;
		text-align: center;
		h2 {
			font-size:25px;
		}
		.image {
			min-height: 200px;
			position: relative;
		}
		img {
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			margin: auto;
			width:100%;
			max-width: 100%;
			// left:50%;
			// transform: translateY(-50%);
		}
		.cta {
			text-transform: uppercase;
			font-size:12px;
		}
	}
}

.particles {
	> div {
		position:absolute;
		top:0; left:0;
		pointer-events:none;
	}
}
.magnifyingglass {
	display:block;
	width:400px; height:355px;
	background-image:url(/assets/particles/magnifyingglass.png);
}

@import 'layout/footer';
@import 'includes/youtube';

@import 'pages/downloads';
@import 'pages/faq';
@import 'pages/roadmap';
@import 'pages/homepage';
@import 'pages/why';
@import 'pages/team';