body {
	font-family: $body_font;
	position:relative;
} 

.overflow {
	position:relative;
}
.grid > div {
	padding:10px;
}
.header .grid {
	grid-template-columns: 180px 1fr min-content;
}
@include sm-max {
	.header .grid {
		grid-template-columns: 142px 1fr min-content;
	}	
}
img {
	max-width: 100%;
}


.wrapper {
	&:before,
	&:after,
	> .grid {
		position:relative;
	}
	&:before,
	&:after {
		z-index: 1;
	}
	
	@include md-max {
		&:before,
		&:after {

		}		
	}

	> .grid {
		z-index: 5;
	}
	padding-top:50px;
	padding-bottom:50px;

	&.header {
		padding-top:5px;
	}
	&.hero {
		position: relative;
		z-index: 4;
	}

}


/* Stripes */
.wrapper:nth-of-type(even) {
	background-color:#F3F3F3;
	&:before { background-color:#F3F3F3; }
	&:after { background-color:#F3F3F3; }
}
.wrapper:nth-of-type(odd) {
	background-color:#FFF;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}
.wrapper:nth-of-type(1) {
	background-color:transparent;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}
.wrapper.hero {
	padding-top: 50px;
	padding-bottom: 200px;
	background-color:transparent;
	&:before { background-color:#FFF; }
	&:after { background-color:#FFF; }
}


a {
	color:$quantum_sky;

	&:hover {
		color:$quantum_burst;
	}
}


/* Elements */
// Call-to-action
a.cta {
	background-color:#dc255d;
	padding:10px 25px;
	color:#FFF;
	text-decoration: none;
	box-shadow: $shadow;
	display: inline-block;
	text-transform: uppercase;
	font-size:12px;
	font-weight:400;
	transition: background-color 0.3s;
	margin-bottom:5px;
	font-style: normal;
	&.inactive {
		background-color: grayscale(#dc255d);

		&:hover {
			background-color: grayscale(#dc255d);
			cursor: default;
		}
	}
	&:hover {
		background-color:$quantum_hover;
		cursor: pointer;

	}
}

.slideshow {
	img {
		box-shadow: $shadow;
	}
}
pre.highlight {
	overflow-x:auto;
}

.team-members {
	.image {
		position:relative;
		width:100%;
		max-width: 140px;
		border:2px solid #FFF;
		border-radius: 50%;
		box-shadow: $shadow;
		margin:31px auto;
		overflow:hidden;
		
		div {
			position:absolute;
			top:0px; left:0px;
			width:100%;
			height:100%;
			background-size: cover;
			transform: scale(1.2);
		}
		&:before {
		  padding-top: 100%;

		  display: block;
		  content: '';			
		}
	}
	> div {
		margin:10px;
		grid-column: span 12;
		
		@include md {
			grid-column: span 6;
		}
		@include lg {
			grid-column: span 4;
		}
		background-color:#4a484d;
		border: 1px solid #4A90E2;
		color:#FFF;
		text-align: center;
		box-shadow: $shadow;
	}
	.name {
		font-family: $heading_font;
		font-style: normal;
		font-weight: normal;
		line-height: 32px;
		font-size: 25px;
		text-align: center;
		color: #FFFFFF;
		padding-bottom: 16px;
	}
	.role {
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 13px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;

		color: #1EE9CB;
	}
	.position {
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 13px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.66;
	}
	.social {
		margin-bottom: 31px;
	}
}
.blogroll {
	.blog-card {
		display:flex;
		flex-direction:column;

		div:last-child {
		    display: flex;
		    align-items: flex-end;
		    flex-grow: 1;
		}
	}

	grid-template-columns:1fr;

	@include md {
		grid-template-areas: "a b"
		                     "a c";

		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr 1fr;

		.blog-card:nth-child(1) {
			grid-area: a;
		}
		.blog-card:nth-child(2) {
			grid-area: b;
		}
		.blog-card:nth-child(3) {
			grid-area: c;
		}
	}
}

.header-section {
	text-align: center;
	max-width: 600px;
	margin:0 auto;
	margin-bottom: 20px;
	// margin-top:50px;

	h2 {
		color:$quantum_sky;
		font-weight: 400;
		text-transform: uppercase;
		font-size:13px;
	}
	h3 {
		font-size:32px;
		margin:0 0 10px 0;
	}
	p {
		max-width: 600px;
		margin:0 auto;
		font-weight: 400;
	}
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width:100%;
		margin-top: 30px;

	}
	.video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: $shadow;
	}

}
nav a {
	padding:5px 10px;
	text-decoration: none;
	color:#000;
}


.wrapper.hero {
	text-align:center;
	padding-top: 100px;

	h1 {
		font-weight: 300;
		color:$quantum_deep;
	}
	p {
		max-width: 720px;
		font-size:21px; line-height: 42px;
		color:$quantum_deep;
		margin:0 auto;
		font-weight: 400;
		margin-top: 20px;
		font-family: $body_font;
	}
	.cta {
		margin-top: 20px;
		// width:100%;
	}
}





.particles {
	position: absolute;
	overflow: visible;
	top:0;
	width:100%; height:100%;
	z-index: 3;
	pointer-events:none;

	&.background {
		z-index:0;
		overflow:hidden;
	}
	> div {
		display:block;
		position:absolute;
		top:0; left:-500px;
		pointer-events:none;

		&.fliph {
			transform: scaleX(-1);
		}
	}
}
@include md {
	.magnifyingglass {
		width:400px; height:355px;
		background-image:url(/assets/particles/magnifyingglass.png);
	}
	.pencil {
		width:400px; height:458px;
		background-image:url(/assets/particles/pencil.png);
	}
	.speechbubble {
		width:400px; height:278px;
		background-image:url(/assets/particles/speechbubbles.png);
	} 
	.saturn {
		width:400px; height:129px;
		background-image:url(/assets/particles/saturn.png);
	}
	.rocket {
		width:400px; height:487px;
		background-image:url(/assets/particles/rocket.png);
	}
	.hat {
		width:500px; height:284px;
		background-image:url(/assets/particles/hat.png);
	}
	.on {
		width:459px; height:518px;
		background-image:url(/assets/particles/on.png);
	}
	.bw1000 { 
		width:387px; height:1000px;
		background-image:url(/assets/particles/bw.h1000.small.png);
	}
	.bw500 {
		width:193px; height:500px;
		background-image:url(/assets/particles/bw.h500.small.png);
	}
	.particle {
		width:400px; height:395px;
		background-image:url(/assets/particles/particle.png);		
	}

	@supports (mask-image:url(/assets/particles/hat.png)) or (-webkit-mask-image:url(/assets/particles/hat.png)) {
		.hat, .rocket, .pencil, .on {
			background: linear-gradient(45deg, #3927ee, #1eeacc);
			background-size: 400% 400%;
			animation: greatient 3s ease infinite;			
		}
		.hat {
			-webkit-mask-image:url(/assets/particles/hat.png);
			mask-image:url(/assets/particles/hat.png);
		}
		.rocket {
			-webkit-mask-image:url(/assets/particles/rocket.png);
			mask-image:url(/assets/particles/rocket.png);			
		}
		.pencil {
			-webkit-mask-image:url(/assets/particles/pencil.png);
			mask-image:url(/assets/particles/pencil.png);				
		}
		.on {
			-webkit-mask-image:url(/assets/particles/on.png);
			mask-image:url(/assets/particles/on.png);				
		}
		@keyframes greatient { 
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}		
	}

}

.grid.support {
	svg {
		fill: $quantum_burst;
		max-height: 120px;
	}
	div {
		text-align: center;
	}
	> div {
		padding:20px;
		border:1px solid #222;
		border-top: 3px solid $quantum_burst;
		background-color:rgba(255,255,255,0.8);
		box-shadow: $shadow;
		grid-column: span 12;

		@include sm {
			grid-column: span 12;
		}
		@include md {
			grid-column: span 6;			
		}
		@include lg {
			grid-column: span 4;
		}
	}
}


@import 'layout/footer';
@import 'includes/youtube';
@import 'components/header';
@import 'pages/downloads';
@import 'pages/faq';
@import 'pages/roadmap';
@import 'pages/homepage';
@import 'pages/why';
@import 'pages/team';
@import 'pages/conferences';
@import 'pages/contact';
@import 'pages/media';
@import 'pages/qip';