/* Layout */
$grid: 12;
$grid_margin: 1em;
$grid_maxwidth: 960px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* Style */
$heading_font: 'Roboto';
$body_font: 'Roboto', Verdana, sans-serif;

// $quantum_burst: #dc255d;
$quantum_green: #1EE9CB;
$quantum_sky: #4A90E2;
$quantum_burst: $quantum_sky;
$quantum_deep: #0A0724;
$quantum_hover: darken($quantum_burst, 20%);


$shadow:0px 3px 10px rgba(0, 0, 0, 0.3);

/*  */
/* Project Specific */


// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) { @content; }
}
// For Things just on mobile devices
@mixin sm-max {
   @media (max-width: #{$screen-sm-min}) { @content; }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) { @content; }
}
@mixin md-max {
   @media (max-width: #{$screen-md-min}) { @content; }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) { @content; }
}
@mixin lg-max {
   @media (max-width: #{$screen-lg-min}) { @content; }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) { @content; }
}