@charset "utf-8";

/* Progress */
@import "variables"; 

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {  
  display: block;
}
html,
body { 
    width:100%;
    height:100%;
    margin:0;
    font-family: $body_font;
} 

@import "mixins/angle-edge";



@import "typography/style";

/* Generally important */
@import "layout/grid";
@import "layout/navigation";    

@import "custom"; 


