body.conferences {
	div.team {
		&:before {
			content:'';
			display: block;
			width:100%;
			position: relative;
			height:150px; top:-150px; margin-bottom:-200px;
			overflow: hidden;
			@include angle-edge($angle: 1.5, $angle-position-y: 'top', $angle-position-x: 'right');
		}

		&:after {
			content:'';
			display: block;
			width:100%;
			
			position: relative;
			height:150px; bottom:-150px; margin-top:-80px;
			overflow: hidden;
			@include angle-edge($angle: 2.5, $angle-position-y: 'bottom', $angle-position-x: 'right');
		}
	}
	.wrapper.intro {
		&:before {
			content:'';
			display: block;
			width:100%;
			position: relative;
			height:150px; top:-150px; margin-bottom:-200px;
			overflow: hidden;
			@include angle-edge($angle: 1.5, $angle-position-y: 'top', $angle-position-x: 'left');
		}
		padding-bottom: 200px;
	}
	.wrapper.events:before {
		top:-120px; height:200px;
	}
	
}