body.conferences {
	.wrapper.intro {
		&:before {
			content:'';
			display: block;
			width:100%;
			position: relative;
			overflow: hidden;
		}
		padding-bottom: 200px;
	}
	.wrapper.events:before {
		top:-120px; height:200px;
	}
	.wrapper.followup {
		padding-top:150px;
		padding-bottom: 100px;
	}
	.more {
		text-align: center;
	}
	
}