.downloads {
	.downloads-list {
		.cta {
			width:100%;
			box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);

		}
		a:not(.cta) {
			color:#9B9B9B;
			font-size:11px;
		}
	}
	.cta {
			text-transform: uppercase;
			font-size:13px;
			padding:14px;
			margin-bottom:6px;		
	}
	.hero {
		background:url("/assets/particles/speechbubbles.w300.png") no-repeat calc(50% - 500px) 200px;
	}

	.points {
		div {
			&:before {
				content:'1';
				display:block;
				width:16px; height:16px;
				padding:4px;
				border-radius:50%;
				font-size: 11px;
				line-height: 16px;
				color:#FFF;
				text-align: center;
				padding:0;
				background-color:$quantum_burst;
				margin:0 auto;
			}
			&:nth-child(2)::before {
				content:'2';
			}
			&:nth-child(3)::before {
				content:'3';
			}
		}
	}
		.action {
			text-align: center;
			.cta {
				margin:0 auto;
			}
		}
}


