body.homepage {
	.header {
		height: 100vh;
		background-image: url('/assets/new.header.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom center;
		z-index: 100;
		overflow: hidden;
		box-shadow: inset 0px -23px 32px 6px #F3F3F3;
	}
	.grid .get-involved {
		grid-column: span 12;
	}
	.mentionedin {
	  background-color:#F3F3F3;
	 	position: relative;
		.mentions {
			margin-top:0;
		}
	}
	.mentionedin .grid > div {
		margin:10px;
	  background-color:#FFF;
	  border:1px solid $quantum_burst;
	  box-shadow: $shadow;
	}
	.mentionedin .header-section {
		margin-bottom: 0px;
		margin-top:10px;
	}
	@include md {
		.features .grid > div {
			grid-column: span 4;
		}
	}

	.mentions {
		grid-column: span 12;
		text-align:center;
		padding-left: 0;
		li {
			display: inline;
			list-style: none;
		}
		a {
			&:hover img {
				filter:grayscale(0%);
			}
		}
		img {
			height:50px;
			margin:15px;
			filter:grayscale(0%);
			width:auto;
			max-width: none;
		}
	}
	.downloads-list {
		padding-left:0;
		margin:5px 0 0 0;
		list-style: none;
		li {
			display: inline;
			padding:0 5px;
		}
	}
	.wrapper.hero {
		h2 {
			color:$quantum_burst;
		}
		h1, h2, h3 {
			text-shadow: 
				0px 0px 15px #FFF,
				0px 0px 10px #FFF,
				0px 0px 8px #FFF,
				0px 0px 6px #FFF,
				0px 0px 4px #FFF,
				0px 0px 2px #FFF,
				0px 0px 2px #FFF;
		}
		.cta {
			font-size: 15px;
			padding: 20px 40px;
			box-shadow: $shadow;
		}
		.downloads-list {
			.cta {
				padding:10px 20px;
				min-width:200px;
			}
		}
	}
	.wrapper.intro {
		@include md {
			background: url('/assets/particles/speechbubbles.w300.png') no-repeat calc(50% - 300px) 300px;
		}

		&:before {
			content:'';
			display: block;
			width:100%;

			position: relative;
			// height:450px; top:-150px; margin-top:300px; margin-bottom: -500px;
			overflow: hidden;
			// @include angle-edge($angle: 3, $angle-position-y: 'top', $angle-position-x: 'right');
			z-index: -1;

		}
		&:after {
			content:'';
			display: block;
			width:100%;
			// height:150px; margin-bottom: 150px; top:150px; margin-top:-150px;
			@include md {
				// margin-top:-90px;
			}
			position: relative;
			// @include angle-edge($angle: 2.5, $angle-position-y: 'bottom', $angle-position-x: 'left');		
		}
	}
	.grid.conference {
		background-color:#160529;
		color:#FFF;
		margin-bottom: 20px;
		box-shadow: $shadow;
		grid-template-columns: 1fr;
		padding:0;
		width:100%;

		@include md {
			grid-template-columns: 275px 1fr 175px;
		}

		> div:last-child {
			display: grid;
			align-items: center;
			text-align: center;

		}
		.cta {
			margin:0 auto;
			white-space: nowrap;
			
			@include sm-max {
				width:100%;
			}
		}
		.description {

		}
		.image {
			text-align: center;
			background-color:#FFF;
			img {
				width:100%;
				max-width: 100%;
			}
		}
		h2 {
			color:#FFF;
			font-weight: 500;
			margin:0;
		}
		p {
			color:#FFF;
			margin:0;
			font-family: $heading_font;
			font-weight: 400;
		}
	}
	.wrapper.team {
		// background-color: #FFF;
		@include md {
			// padding-bottom: 120px;
		}
		.more {
			text-align: center;
		}
	}
	.wrapper.events:before {
		@include md {
			margin-bottom:-140px;
		}

	}
	.news-header {
		max-width: 500px;
		margin-top:25px;
		h2 {
			color:$quantum_burst;
		}
	}
	.wrapper.contributors {
		.contributors.list {
			text-align: center;
			list-style: none;
			padding-left: 0;


			display: flex;
			flex-wrap: wrap;
			// justify-content: center;

			// grid...
			li {
				display: flex; 
				padding: 0em;
				width: 50%;
				line-height: 0;
				text-align: left;

				@include sm {
					width:33.3%;
				}
				@include md {
					width:25%;
				}
				@include lg {
					width:20%;
				}
				a {
					width:100%;
					// overflow:hidden;
					text-decoration: none;
					position: relative;

					span { // Name
						display:inline-block;
						// position:absolute; bottom:-30px;
						width: calc(100% - 28px);			
						font-size:12px;	
						line-height: 28px;
						padding-left: 5px;	
					}

					&:hover {
						span {
						bottom:0;
						}
						img {
							filter:grayscale(0%);
						}
					}
				}

				img {
					display: block; float:left;
					width:26px;
					filter: grayscale(20%);
				}		
			}
		}
	}
	.support div {
		ul {
			padding-left: 0;
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			// Bordered outlines
			li {
				list-style:none;
				flex:1;
				margin:5px 5px;


				> a {
					display:inline-block;
					text-decoration: none;
					border:2px solid $quantum_sky;
					color:$quantum_sky;
					padding:5px 10px;
					width:100%;
				}
			}
			// Solid
			&:first-of-type,
			li:hover {
				a {
					background-color:$quantum_sky;
					color:#FFF;					
				}
			}
		}
	}
}