body.homepage {
	.wrapper.intro {
		padding:0px 0;
		min-height: 300px;
		@include md {
			background:	#F3F3F3 url('/assets/particles/speechbubbles.w300.png') no-repeat calc(50% - 300px) 300px;
		}

		&:before {
			content:'';
			display: block;
			width:100%;

			position: relative;
			height:150px; top:-150px; margin-top:300px; margin-bottom: -500px;
			overflow: hidden;
			@include angle-edge($angle: 3, $angle-position-y: 'top', $angle-position-x: 'right');
			z-index: -1;

		}
		&:after {
			content:'';
			display: block;
			width:100%;
			height:150px; margin-bottom: 150px; top:150px; margin-top:-150px;
			@include md {
				margin-top:-90px;
			}
			position: relative;
			@include angle-edge($angle: 2.5, $angle-position-y: 'bottom', $angle-position-x: 'left');		
		}
	}
	.grid.conference {
		background-color:#160529;
		color:#FFF;
		margin-bottom: 20px;
		box-shadow: $shadow;
		grid-template-columns: 1fr;
		padding:0;
		width:100%;

		@include md {
			grid-template-columns: 275px 1fr 175px;
		}

		> div:last-child {
			display: grid;
			align-items: center;
			text-align: center;

		}
		.cta {
			margin:0 auto;
			white-space: nowrap;
			
			@include sm-max {
				width:100%;
			}
		}
		.description {

		}
		.image {
			text-align: center;
			background-color:#FFF;
			img {
				width:100%;
				max-width: 100%;
			}
		}
		h2 {
			color:#FFF;
			font-weight: 500;
			margin:0;
		}
		p {
			color:#FFF;
			margin:0;
			font-family: $heading_font;
			font-weight: 400;
		}
	}
	.wrapper.team {
		background-color: #FFF;
		@include md {
			padding-bottom: 120px;
		}
		.more {
			text-align: center;
		}
	}
	.wrapper.events:before {
		@include md {
			margin-bottom:-140px;
		}

	}
	.yt-center {
		 max-width:550px; 
		 margin:0 auto;
		 width:100%;
	}
}