body.homepage {
	.header {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom center;
		overflow: visible;
	}

	.theres-more {
		margin-top: 25px;
		border: 3px solid $quantum_burst;
		background-color: rgba(255,255,255,0.5);
		display: inline-block;
		border-radius: 50%;

		img {
			position: relative;
  			top: 4px;
		}
	}
	.theres-more img {
		position: relative; 
		top: 4px;
	}
	.wrapper.hero {
		z-index: 4;
	}
	#globe {
		position: absolute;
		transition: all 2s;
		z-index: 0;
		top: 500px; opacity:0;
		width:100%; height:auto;
		
		.loaded & {
			top:0; opacity:1;
		}
	}
	#globe-wrapper {
		height: 100%; width:100%;
		overflow:hidden;
		position:absolute; top:0; left:0;
	}
	.grid .get-involved {
		grid-column: span 12;
	}
	.particles {
		top:500px; opacity:0;

		&:nth-child(1) {
			transition: all 1.6s;
			transition-delay: 0.4s;
		}
		&:nth-child(2) {
			transition: all 1s;
			transition-delay: 1s;
		}
		&:nth-child(3) {
			transition: all 1.1s;
			transition-delay: 0.4s;
		}
		&:nth-child(4) {
			transition: all 1.4s;
			transition-delay: 0.2s;
		}
		.loaded & {
			top:0; opacity:1;
		}
	}

	.asmentionedin {
		padding:10px;
	}
	.asmentionedin > div {
		grid-column: span 12 !important;
		background-color:#FFF;
		border:1px solid $quantum_burst;
		box-shadow: $shadow;
		width:100%;

		position: relative;

		@include xl {
			margin-top:-120px;
		}

	}
	.asmentionedin .header-section {
		margin-bottom: 0px;
		margin-top:10px;
	}
	@include md {
		.features .grid > div {
			grid-column: span 4;
		}
		.features h2 {
			text-align: center;
		}
	}

	.mentions {
		grid-column: span 12;
		text-align:center;
		padding-left: 0;
		li {
			display: inline;
			list-style: none;
		}
		a {
			&:hover img {
				filter:grayscale(0%);
			}
		}
		img {
			height:50px;
			margin:15px;
			filter:grayscale(50%);
			width:auto;
			max-width: none;
		}
		&.minor img {
			height:30px;
			filter:grayscale(100%);
		}
	}
	.downloads-list {
		padding-left:0;
		margin:5px 0 0 0;
		list-style: none;
		li {
			display: inline;
			padding:0 5px;
		}
	}
	.wrapper.hero {
		h2 {
			color:$quantum_burst;
		}
		h1, h2, h3 {
			text-shadow: 
				0px 0px 15px #FFF,
				0px 0px 10px #FFF,
				0px 0px 8px #FFF,
				0px 0px 6px #FFF,
				0px 0px 4px #FFF,
				0px 0px 2px #FFF,
				0px 0px 2px #FFF;
		}
		.cta {
			font-size: 15px;
			padding: 20px 40px;
			box-shadow: $shadow;
		}
		.downloads-list {
			.cta {
				padding:10px 20px;
				min-width:200px;
			}
		}
	}
	.wrapper.intro {
		@include md {
			background: url('/assets/particles/speechbubbles.w300.png') no-repeat calc(50% - 300px) 300px;
		}
	}

	.wrapper.team {
		.more {
			text-align: center;
		}
	}
	.wrapper.events:before {
		@include md {
			margin-bottom:-140px;
		}

	}
	.news-header {
		max-width: 500px;
		margin-top:25px;
		h2 {
			color:$quantum_burst;
		}
	}
	.wrapper.contributors {
		.contributors.list {
			text-align: center;
			list-style: none;
			padding-left: 0;


			display: flex;
			flex-wrap: wrap;

			// grid...
			li {
				display: flex; 
				padding: 0em;
				width: 50%;
				line-height: 0;
				text-align: left;

				@include sm {
					width:33.3%;
				}
				@include md {
					width:25%;
				}
				@include lg {
					width:20%;
				}
				a {
					width:100%;
					text-decoration: none;
					position: relative;

					span { // Name
						display:inline-block;
						width: calc(100% - 28px);			
						font-size:12px;	
						line-height: 28px;
						padding-left: 5px;	
					}

					&:hover {
						span {
						bottom:0;
						}
						img {
							filter:grayscale(0%);
						}
					}
				}

				img {
					display: block; float:left;
					width:26px;
					filter: grayscale(100%);
				}		
			}
		}
	}
	.support div {
		ul {
			padding-left: 0;
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			// Bordered outlines
			li {
				list-style:none;
				flex:1;
				margin:5px 5px;


				> a {
					display:inline-block;
					text-decoration: none;
					border:2px solid $quantum_sky;
					color:$quantum_sky;
					padding:5px 10px;
					width:100%;
				}
			}
			// Solid
			&:first-of-type,
			li:hover {
				a {
					background-color:$quantum_sky;
					color:#FFF;					
				}
			}
		}
	}
}