body.media {
	div.media {
		&:before {
			content:'';
			display: block;
			width:100%;
			position: relative;
			height:220px; top:-100px; margin-bottom:-200px;
			overflow: hidden;
			@include angle-edge($angle: 1.5, $angle-position-y: 'top', $angle-position-x: 'right');
		}

		&:after {
			content:'';
			display: block;
			width:100%;
			
			position: relative;
			height:150px; bottom:-150px; margin-top:-150px;
			overflow: hidden;
			@include angle-edge($angle: 1.5, $angle-position-y: 'bottom', $angle-position-x: 'right');
		}
	}

	.wrapper.footer {
		padding-top:200px
	}

	ul#filteringModeSingle {
		list-style: none;
		padding-left:10px;
		
		li {
			padding:5px 15px;
			border-radius:5px;
			display:inline-block;
			background-color: $quantum_burst;
			color:#FFF;

			&:hover {
				background-color: $quantum_hover;
				cursor:pointer;
			}
		}
	}

	.filterSearch {
		text-align: right;
		input {
			margin:14px 0;
		}


	}

	.filtr-container {
		list-style: none;
		display:block;
		.categories {
			color:$quantum_deep;
			span {
				color:$quantum_sky;
			}
		}
		.date {
			display:block;
			float:right;
			background-color: #000;
			color:#FFF;
			text-align: center; 
			min-width: 50px;
			margin-left:1em;
			.month, .day {
				display:block;
			}
			.month {
				font-size:10px;
			}
			.day {
				font-size:25px;
			}
		}
		li {
			display:block;
			width:100%;
			padding-left: 10px;
			margin-bottom: 20px;
			border-left:3px solid transparent;

			&:hover {
				border-left:3px solid $quantum_deep;
				background-color:#FBFBFB;
			}
		}
		a {
			text-decoration: none;
		}
		.description {
			color:#EEE;
		}
	}
	.media {
	display:block;
	}
	.media.type-video {
	display:block;
	}
	.filteringModeSingle li {
	background-color:#F00;
	}
	@include sm-max {
		.grid.options > div {
			grid-column: span 12;
			padding-top:0;
			padding-bottom:0;
			text-align: left;
		}
		.grid.options input {
			width:100%;
		}
	}

}

