body.research {
	.grant {
	  border: 1px solid #CCC;
	  background-color:#FFF;
	  border-left: 2px solid #333;

	  padding:10px;
	}
	.grant .info ul {
	  padding-left:0;

	  display: flex;
	  flex-wrap: wrap;
	  align-content: flex-start;

	}
	.grant .info li {
	  flex: 300px;
	  flex-grow:0;
	  list-style:none;

	}
}


