{{ partial "head/prerender.html" . }}
  <body data-page-name="coreTeam" class="coreTeam" style="background-color: #fff;">
    {{ partial "elements/menu.html" . }}
    <main>
      <div class="core-team-head" style="min-height: 500px;">
        <div class="container-mini">
          <div class="core-team-head__inner">
            <p class="section-title">Get to know us</p>
            <h1 class="section-title-header text-yellow ">The QRL Core Contributing Team & Partners</h1>
            <p>We are a highly dedicated and experienced team of technical developers, quantum physics researchers and business professionals who created the first and only enterprise-grade, independently audited blockchain platform backed by the quantum resistant and IETF standardized/NIST approved eXtended Merkle Tree Signature Scheme (XMSS).</p>
          </div>
        </div>
      </div>

      <section class="core core-page bg-white" style="padding-bottom: 0px;">
        <div class="core-page-gray"></div>
        <div class="container-mini" >

          {{ .Scratch.Set "section_title" "Built from a foundation of" }}
          {{ .Scratch.Set "section_title_header" "Open source contributors" }}
          {{ partial "elements/contributors.html" . }}
          
          {{ range  ((where (where site.Pages "Params.layout" "team-member") ".Params.inactive" "!=" true).GroupByParam "role").Reverse }}
          {{ if (ne .Key "advisor") }}
          
            
              <div>
                {{ if ( eq .Key "developers" )}}
                <p class="text-yellow section-title">Lead by a core team of</p>
                {{ end }}
                {{ if ( eq .Key "advocates" )}}
                <p class="text-yellow section-title"></p>
                {{ end }}
                {{ if ( eq .Key "advisor" )}}
                <p class="text-yellow section-title">And key</p>
                {{ end }}
                <h2 class="section-title-header">{{ .Key }}</h2>
              </div>
              <div class="grid grid-three-cols">
              {{ range .Pages }}

              <a href='/team/{{ .Param "slug" }}'>
                <div class="core__el animate-fade">
                  <div class="core__el__img">
                    <img src='{{ .Param "profile" }}' alt='{{ .Param "name" }}' />
                  </div>
                  <div class="core__el__inner"> {{ .Param "name" }}<br>
                    <p>{{ .Param "position" }}</p>
                  </div>
                </div>
              </a>
              {{ end }}
            </div>
          {{ end }}

          {{ end }}

            
              <div>
                <p class="text-yellow section-title">With instrumental</p>
                <h2 class="section-title-header">Advisors</h2>
              </div>
              <div class="grid grid-three-cols">
              {{ range (sort (where site.Pages "Params.layout" "team-member")) }}
              {{ if and (ne .Params.inactive true) (eq .Params.role "advisor") }}
              <a href='/team/{{ .Param "slug" }}'>
                <div class="core__el animate-fade">
                  <div class="core__el__img">
                    <img src='{{ .Param "profile" }}' alt='{{ .Param "name" }}' />
                  </div>
                  <div class="core__el__inner"> {{ .Param "name" }}<br>
                    <p>{{ .Param "position" }}</p>
                  </div>
                </div>
              </a>
              {{ end }}
              {{ end }}
          </div>
        </div>
      </section>

      


      <section class="core core-page bg-white" style="padding-bottom: 0px;">
        <div class="core-page-gray"></div>
        <div class="container-mini" style="padding-top: 50px;">


          {{ range  ((where (where site.Pages "Params.layout" "partner") ".Params.inactive" "!=" true).GroupByParam "role").Reverse }}

              
              <div>
                <p class="text-yellow section-title">And the coordination of</p>
                <h2 class="section-title-header">Key Partners</h2>
              </div>
              <div class="grid grid-three-cols">
                {{ range .Pages }}
              <a href='{{ .Param "website" }}' target="_blank">
                <div class="core__el animate-fade">
                  <div class="core__el__img">
                    <img src='{{ .Param "profile" }}' alt='{{ .Param "name" }}' />
                  </div>
                  <div class="core__el__inner" style="text-align: center;"> {{ .Param "name" }}<br>
                    <p>{{ .Param "position" }}</p>
                  </div>
                </div>
              </a>
              {{ end }}
            </div>

          {{ end }}
        </div>
      </section>

      {{ partial "elements/follow.html"}}
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
