{{ partial "head/prerender.html" . }}
  <body data-page-name="coreTeam" class="coreTeam">
    {{ partial "elements/menu.html" . }}
    <main>
      <div class="core-team-head" style="min-height: 540px;">
        <div class="container-mini">
          <div class="core-team-head__inner">
            <p class="section-title">{{ .Params.layout_single_header.sectionsubtitle }}</p>
            <h1 class="section-title-header text-yellow ">{{ .Params.layout_single_header.sectiontitle }}</h1>
            <p> {{ .Params.layout_single_header.blurb }}</p>
            <p></p>
          </div>
          <div class="welcome__btn-area">
              <a href="#timeline" class="welcome__btn welcome__btn--blue">Change the future</a>
              <a href="#qips" class="welcome__btn welcome__btn--text">Explore our QRL Improvement Proposals</a>
          </div>
        </div>
      </div>
      <section class="core core-page bg-white">
        <div class="core-page-gray"></div>
        <div class="container-mini" style="padding-top: 50px;">
          <div class="container-mini">
            <h2 class="section-title-header">Network Stats</h2>
          </div>
          <div>
            <div class="network-map">
              <h2>Globally <strong>{{ .Site.Data.stats.nodes }}</strong> active nodes.</h2>
              <p>Help support the network and <a href="/downloads/">run your own node</a>!</p>
              <img src="/map.svg" alt="" class="network-map">
            </div>
            <div class="grid grid-three-cols metrics">
               
                <a href='https://explorer.theqrl.org/'>
                  <div class="core__el animate-fade">
                  <div class="core__el__indicator">
                    <div class="indicator" id="status-blockheight">{{ lang.FormatNumberCustom 0 .Site.Data.stats.block_height }}</div>
                  </div>
                    <div class="core__el__inner">Blockheight
                      <p>60s blocktime</p></div>
                  </div>
                </a>
                <a href='https://quantascan.io/network-transactions'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-tx">{{ lang.FormatNumberCustom 0 .Site.Data.stats.transactions }}</div>
                    </div>
                    <div class="core__el__inner">
                      Transactions
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://quantascan.io/network-transactions'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-volume">{{ lang.FormatNumberCustom 2 .Site.Data.stats.volume }}</div>
                    </div>
                    <div class="core__el__inner">
                      Volume (QRL)
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://quantascan.io/wallet-number-of-wallets'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-wallets">{{ lang.FormatNumberCustom 0 .Site.Data.stats.wallets }}</div>
                    </div>
                    <div class="core__el__inner">Wallets
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-emission">{{ lang.FormatNumberCustom 2 .Site.Data.stats.coins_emitted }}</div>
                    </div>
                    <div class="core__el__inner">Current Emission
                      <p>Max population 105,000,000</p>
                      </div>
                  </div>
                </a>

                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-blockreward">{{ lang.FormatNumberCustom 9 .Site.Data.stats.block_reward }}</div>
                    </div>
                    <div class="core__el__inner">Blockreward
                    <p>Exponential decay over 200y</p></div>
                  </div>
                </a>

                <a href='https://miningpoolstats.stream/quantumrl'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-pools">{{ .Site.Data.stats.pools }}</div>
                    </div>
                    <div class="core__el__inner">Pools</div>
                  </div>
                </a>
                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-nodes">{{ .Site.Data.stats.nodes }}</div>
                    </div>
                    <div class="core__el__inner">QRL Nodes</div>
                  </div>
                </a> 
                <a href='https://miningpoolstats.stream/quantumrl'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-miners">{{ .Site.Data.stats.miners }}</div>
                    </div>
                    <div class="core__el__inner">Miners</div>
                  </div>
                </a>
              </div>

              <div class="grid">
                <p><em>Note: Network statistics are pulled periodically and aren't live.</em></p>
              </div>

                <div class="container-mini">
                  <h2 class="section-title-header">Github</h2>
                </div>
            <div class="grid grid-three-cols metrics">

                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-commits">{{ .Site.Data.stats.commits }}</div>
                    </div>
                    <div class="core__el__inner">Contributions</div>
                  </div>
                </a>
                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-repos">{{ .Site.Data.stats.repos }}</div>
                    </div>
                    <div class="core__el__inner">Repositories</div>
                  </div>
                </a>
                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                  <div class="core__el__indicator">
                    <div class="indicator" id="status-contributors">{{ .Site.Data.stats.contributors }}</div>
                  </div>
                    <div class="core__el__inner">Contributors</div>
                  </div>
                </a>
            </div>






            <div class="timeline-content" id="timeline">
              <div class="container-mini">
                <p class="text-yellow section-title">Looking at what we've built</p>
                <h2 class="section-title-header">Our Current Features</h2>
              </div>
              <ul class="timeline blogPageInner">
                {{ range .Site.Data.roadmap }}

                {{ if eq .magnitude "major" }}
                <li class="event" id="date" >
                  <h3>{{ .event }}</h3>
                  <div class="blog-article">

                    {{ with .blurb }}
                          {{ $markdown := . | markdownify }}
                          {{ if not ( strings.Contains $markdown "<p>" ) }}
                                <p>{{ $markdown }}</p>
                          {{ else }}
                                {{ $markdown }}
                          {{ end }}
                    {{ end }}
                                  
                  </div>

                  {{ if .link }}
                  <a href="{{ .link }}">Read More</a>
                  {{ end }}
                </li>
                {{ end }}

                {{ end }}
            </ul> 

            <div class="timeline-content future">
              <div class="container-mini">
                <p class="text-yellow section-title">The Next Generation</p>
                <h2 class="section-title-header">Project Zond</h2>
                <p>The next evolution of post-quantum secure distributed ledger technology</p>
                <a href="/blog" class="welcome__btn welcome__btn--blue" style="margin:0 auto; width:fit-content">Stay up to date on our blog</a>
                <p class="disclaimer">Disclaimer: The sections here are very simplified estimates of progress on a very complex system, and as such are subject to change.</p>
              </div>
              <ul class="timeline">
                <li class="heading">
                  <h2>Key Features, at a glance</h2>
                </li>
                <li class="event" id="date">
                  <!-- <span class="date">Proof-of-Stake</span> -->
                  <h3>Proof-of-Stake</h3>
                  <p>QRL Zond transitions QRL from proof-of-work (PoW) to a more energy-efficient and scalable proof-of-stake (PoS) consensus algorithm. This change aligns with the growing industry trend toward sustainability while maintaining QRL’s hallmark commitment to quantum resistance.</p>
                </li>

                <li class="event" id="date">
                  <h3>Smart Contracts</h3>
                  <p>
                    The introduction of Ethereum Virtual Machine (EVM) compatibility and Web3.js support is another transformative addition. These features allow developers to deploy and interact with smart contracts written in Solidity, leveraging the expansive Ethereum ecosystem. This compatibility ensures that developers familiar with Ethereum tools can seamlessly build and deploy decentralized applications (dApps) on the Zond network, tapping into QRL's unique post-quantum security guarantees.
                  </p>  
                </li>
              </ul>

              
              <ul class="timeline">
                <li class="heading">
                  <span class="progress">
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </span>
                  <h2>Beta-Testnet V1</h2>

                </li>
                <li class="event">
                  <span class="progress">
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div></div>
                  </span>
                  <h3>Post-Quantum Cryptography Integration</h3>
                  
                  <p>Post-quantum cryptography state review, XMSS & Dilithium Integration, including ML-DSA</p>
                </li>

                <li class="event">
                  <span class="progress">
                    <div class="complete"></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </span>
                  <h3>Cleanup/Refinements</h3>
                  
                  <p>OPCode Changes, QVM Ecosystem tooling, and cleanup and refactoring</p>
                </li>

                <li class="event">
                  <span class="progress">
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div class="complete"></div>
                    <div></div>
                  </span>
                  <h3>Implementation of the new address format</h3>
                  
                  <p>Integration of the new address format</p>


                </li>

                <li class="event">
                  <span class="progress">
                    <div class="complete"></div>
                    <div></div>
                  </span>
                  <h3>Configuration of Parameter Values</h3>
                  
                  <p>Improving the values set to ensure the smoothest running system</p>
                </li>
                <li class="heading">
                  <h2>Testnet V2</h2>
                  
                  <p>Involves a feature freeze and code audit</p>
                </li>
                <li class="event">
                  <span class="progress">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </span>
                  <h3>Code audit</h3>
                  <p>Code audit involving the crytography and code of the project</p>

                </li>

                <li class="event">
                  <span class="progress">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </span>
                  <h3>Additional tooling</h3>
                </li>
                <li class="heading">
                  <h2>Mainnet</h2>
                </li>
              </ul>             
            </div>  
            {{ .Content }}
          </div>
        </div>

        <div class="timeline-content future" id="qips">
          <div class="container-mini">
            <p class="text-yellow section-title">Planning Ahead</p>
            <h2 class="section-title-header">Current QRL improvement proposal (QIPs)</h2>
          </div>
          <ul class="timeline">


            {{ $qips := (where .Site.Pages "Params.qip" "gt" 0) }}
            {{ range sort $qips ".Params.qip"  }}
            <li class="event" id="date" data-date="QIP {{ printf "%03d" .Params.qip }}">
              <div>
                <span class="date">QIP {{ printf "%03d" .Params.qip }}</span>
                <h3><a href="/qips/qip{{ printf "%03d" .Params.qip }}">{{ .Title }}</a></h3>
                <div class="qip-status">
                  {{ range split .Params.status "/" }}
                    <span class="qip-status-{{ . }}">{{ humanize . }}</span>
                  {{ end }}
                </div>
              </div>
              <div>
                <a class="welcome__btn welcome__btn--blue" href="/qips/qip{{ printf "%03d" .Params.qip }}">Read More</a>
              </div>
            </li>
            {{ end }}
          </ul>             
        </div>  

        <style>
          .timeline .heading {
            background-color: #4AAFFF;
            color: #FFF;
            margin:0px -50px;
            padding: 15px 50px;
            
          }
          .timeline .heading h2 {
            font-weight:bold;
          }
          .progress {
            width:50%;
            display:flex;
            gap: 2px;
            margin-bottom:10px;  
          }
          .event p a {
            text-decoration: underline;
          }
          .disclaimer {
            padding:0 50px;
            font-style:italic;
          }

          
          .progress div {
            background-color:#DDD;
            border: 1px solid #CCC;
            height: 10px;
            
            flex-grow:1;
          }
          .heading .progress {
            width: 100%;
          }
          .heading .progress div {
            
            background-color: #3698e4;
            border: 1px solid #3591d8;
          }

          .progress .complete, .heading .progress .complete {
            background-color:#529214;
            border-color: #428210;

          }
          .container-mini > h2 {
            margin-bottom: 20px;
          }
          .container-mini > p {
            margin: 20px 0;
          }
          .container-mini {
            padding:50px 0px 25px 0px;
          }
        </style>
      </section>
      {{ partial "elements/follow.html"}}
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
