{{ partial "head/prerender.html" . }}
  <body data-page-name="coreTeam" class="coreTeam">
    {{ partial "elements/menu.html" . }}
    <main>
      <div class="core-team-head" style="min-height: 540px;">
        <div class="container-mini">
          <div class="core-team-head__inner">
            <p class="section-title">{{ .Params.layout_single_header.sectionsubtitle }}</p>
            <h1 class="section-title-header text-yellow ">{{ .Params.layout_single_header.sectiontitle }}</h1>
            <p> {{ .Params.layout_single_header.blurb }}</p>
            <p></p>
          </div>
          <div class="welcome__btn-area">
              <a href="#timeline" class="welcome__btn welcome__btn--blue">Change the future</a>
              <a href="#qips" class="welcome__btn welcome__btn--text">Explore our QRL Improvement Proposals</a>
          </div>
        </div>
      </div>
      <section class="core core-page bg-white">
        <div class="core-page-gray"></div>
        <div class="container-mini" style="padding-top: 50px;">
          <div>
  
                <div class="container-mini">
                  <h2 class="section-title-header">Network Stats</h2>
                </div>
            <div class="grid grid-three-cols metrics">

                <a href='https://explorer.theqrl.org/'>
                  <div class="core__el animate-fade">
                  <div class="core__el__indicator">
                    <div class="indicator" id="status-blockheight">{{ .Site.Data.miningstats.block }}</div>
                  </div>
                    <div class="core__el__inner">Blockheight
                      <p>60s blocktime</p></div>
                  </div>
                </a>
                <a href='https://quantascan.io/network-transactions'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-tx">Loading...</div>
                    </div>
                    <div class="core__el__inner">
                      Transactions
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://quantascan.io/network-transactions'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-volume">Loading...</div>
                    </div>
                    <div class="core__el__inner">
                      Volume (QRL)
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://quantascan.io/wallet-number-of-wallets'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-wallets">{{ .Site.Data.netstats.wallets }}</div>
                    </div>
                    <div class="core__el__inner">Wallets
                      <p>Since Genesis</p>
                    </div>
                  </div>
                </a>
                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-emission">{{ .Site.Data.emission.emission }}</div>
                    </div>
                    <div class="core__el__inner">Current Emission
                      <p>Max population 105,000,000</p>
                      </div>
                  </div>
                </a>

                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-blockreward">{{ .Site.Data.reward.reward }}</div>
                    </div>
                    <div class="core__el__inner">Blockreward
                    <p>Exponential decay over 200y</p></div>
                  </div>
                </a>

                <a href='https://miningpoolstats.stream/quantumrl'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-pools">{{ .Site.Data.netstats.pools }}</div>
                    </div>
                    <div class="core__el__inner">Pools</div>
                  </div>
                </a>
                <a href='https://explorer.theqrl.org'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-hashrate">{{ .Site.Data.miningstats.hashrate }}</div>
                    </div>
                    <div class="core__el__inner">Hashrate</div>
                  </div>
                </a>
                <a href='https://miningpoolstats.stream/quantumrl'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-miners">{{ .Site.Data.netstats.miners }}</div>
                    </div>
                    <div class="core__el__inner">Miners</div>
                  </div>
                </a>
              </div>

              <div class="grid">
                <p><em>Note: Network statistics are pulled periodically and aren't live.</em></p>
              </div>

                <div class="container-mini">
                  <h2 class="section-title-header">Github</h2>
                </div>
            <div class="grid grid-three-cols metrics">

                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-commits">8,540</div>
                    </div>
                    <div class="core__el__inner">Contributions</div>
                  </div>
                </a>
                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                    <div class="core__el__indicator">
                      <div class="indicator" id="status-repos">29</div>
                    </div>
                    <div class="core__el__inner">Repositories</div>
                  </div>
                </a>
                <a href='https://github.com/theQRL/'>
                  <div class="core__el animate-fade">
                  <div class="core__el__indicator">
                    <div class="indicator" id="status-contributors">48</div>
                  </div>
                    <div class="core__el__inner">Contributors</div>
                  </div>
                </a>
            </div>






            <div class="timeline-content" id="timeline">
              <div class="container-mini">
                <p class="text-yellow section-title">Looking at what we've built</p>
                <h2 class="section-title-header">Our Current Features</h2>
              </div>
              <ul class="timeline blogPageInner">
                {{ range .Site.Data.roadmap }}

                {{ if eq .magnitude "major" }}
                <li class="event" id="date" >
                  <h3>{{ .event }}</h3>
                  <div class="blog-article">

                    {{ with .blurb }}
                          {{ $markdown := . | markdownify }}
                          {{ if not ( strings.Contains $markdown "<p>" ) }}
                                <p>{{ $markdown }}</p>
                          {{ else }}
                                {{ $markdown }}
                          {{ end }}
                    {{ end }}
                                  
                  </div>

                  {{ if .link }}
                  <a href="{{ .link }}">Read More</a>
                  {{ end }}
                </li>
                {{ end }}

                {{ end }}
            </ul> 

            <div class="timeline-content future">
              <div class="container-mini">
                <p class="text-yellow section-title">The next fork</p>
                <h2 class="section-title-header">Features Slated for Next Fork, Cesium</h2>
              </div>
              <ul class="timeline">
  
                <li class="event" id="date">
                  <!-- <span class="date">Proof-of-Stake</span> -->
                  <h3>Proof-of-Stake</h3>
                  <p></p>  
                </li>
  
                <li class="event" id="date">
                  <!-- <span class="date">Proof-of-Stake</span> -->
                  <h3>Falcon</h3>
                  <p></p>  
                </li>

                <li class="event" id="date">
                  <!-- <span class="date">Proof-of-Stake</span> -->
                  <h3>GoLang Node</h3>
                  <p></p>  
                </li>
              </ul>             
            </div>

            <div class="timeline-content future">
              <div class="container-mini">
                <p class="text-yellow section-title">Keeping Busy</p>
                <h2 class="section-title-header">Other Key Projects</h2>
              </div>
              <ul class="timeline">
  
                <li class="event" id="date">
                  <!-- <span class="date">Proof-of-Stake</span> -->
                  <h3>enQlave: Quantum Security for Ethereum</h3>
                  <p></p>  
                </li>
              </ul>             
            </div>  

            <div class="timeline-content future" id="qips">
              <div class="container-mini">
                <p class="text-yellow section-title">Planning Ahead</p>
                <h2 class="section-title-header">Current QRL improvement proposal (QIPs)</h2>
              </div>
              <ul class="timeline">
  
                {{ range .Site.Data.qips }}

                <li class="event" id="date" data-date="QIP {{ printf "%03d" .qip }}">
                  <span class="date">QIP {{ printf "%03d" .qip }}</span>
                  <h3>{{ .title }}</h3>
                  <p>Status: {{ .status }}</p>  
                </li>

                {{ end }}
  
              </ul>             
            </div>  

            {{ .Content }}
          </div>
        </div>
      </section>
      {{ partial "elements/follow.html"}}
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
