{{ partial "head/prerender.html" . }}
  <body data-page-name="coreTeam" class="coreTeam">
    {{ partial "elements/menu.html" . }}
    <main>
      <div class="core-team-head">
        <div class="container-mini">
          <div class="core-team-head__inner">
            {{ if .Params.layout_single_header.sectionsubtitle }}
            <p class="section-title">{{ .Params.layout_single_header.sectionsubtitle }}</p>
            {{ else }}
            <p class="section-title">QRL Improvement Proposal (QIP-{{ printf "%03d" .Params.qip }})</p>
            {{ end }}

            {{ if .Params.layout_single_header.sectiontitle }}
            <h1 class="section-title-header text-yellow ">{{ .Params.layout_single_header.sectiontitle }}</h1>
            {{ else }}
            <h1 class="section-title-header text-yellow ">{{ .Title }}</h1>
            {{ end }}
            <p>{{ .Params.layout_single_header.blurb }}</p>
          </div>
          {{ if or (.Params.layout_single_header.cta) (.Params.qip) }}
          <div class="welcome__btn-area" style="display: flex;">
            {{ if .Params.comments_uri }}
              <a href="{{ .Params.comments_uri }}" class="welcome__btn welcome__btn--blue" style="width:auto;">Discuss</a>
            {{ end }}
            
            {{ if .Params.layout_single_header.cta.primary }}
            <a href="{{ .Params.layout_single_header.cta.primary.link }}" class="welcome__btn welcome__btn--blue" style="width:auto;">{{ .Params.layout_single_header.cta.primary.text }}</a>
            {{ end }}

            {{ if .Params.layout_single_header.cta.secondary }}
              <a href="{{ .Params.layout_single_header.cta.secondary.link }}" class="welcome__btn welcome__btn--text">{{ .Params.layout_single_header.cta.secondary.text }}</a>
            {{ end }}
            {{ if .Params.qip }}
              <a href="/roadmap/#qips" class="welcome__btn welcome__btn--text">View more QRL Improvement Proposals</a>
            {{ end }}
          </div>
        {{ end }}
        </div>
      </div>
      <section class="core core-page bg-white">
        <div class="core-page-gray"></div>
        <div class="container-mini type blog-article{{ if .Params.qip }} qip-article{{ end }}" style="padding-top: 50px;">
          <!-- <div class="single-md"> -->

            
            
            {{ if .Params.qip }}
            
            <h2>Overview & status</h2>
            <table class="qip-table">
              <tr>
                <td>Author</td>
                <td>{{ .Params.author }}</td>
              </tr>
              
              <tr>
                <td>Status</td>
                <td class="qip-status">
                  {{ range split .Params.status "/" }}
                    <span class="qip-status-{{ . }}">{{ . }}</span>
                  {{ end }}
                </td>
              </tr>
              <tr>
                <td>Created</td>
                <td>{{ .Params.created }}</td>
              </tr>
              {{ if .Params.comments_uri }}
              <tr>
                <td>Discussions to</td>
                <td><a href="{{ .Params.comments_uri }}">{{ .Params.comments_uri }}</a></td>
              </tr>
              {{ end }}
            </table>
            {{ .TableOfContents }}
            {{ end }}


            {{ .Content }}

            
          <!-- </div> -->
        </div>
      </section>
      {{ partial "elements/follow.html"}}
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
