{{ partial "head/prerender.html" . }}
  <body data-page-name="coreTeam" class="coreTeam">
    {{ partial "elements/menu.html" . }}
    <main>
      {{ if .Params.layout_single_header.cta }}
      <div class="core-team-head" style="min-height: 540px;">
      {{ else }}
      <div class="core-team-head" style="min-height: 440px;">
      {{ end }}
        <div class="container-mini">
          <div class="core-team-head__inner">
            <p class="section-title">{{ .Params.layout_single_header.sectionsubtitle }}</p>
            <h1 class="section-title-header text-yellow ">{{ .Params.layout_single_header.sectiontitle }}</h1>
            <p> {{ .Params.layout_single_header.blurb }}</p>
          </div>
          {{ if .Params.layout_single_header.cta }}
          <div class="welcome__btn-area" style="display: flex;">
            {{ if .Params.layout_single_header.cta.primary }}
              <a href="{{ .Params.layout_single_header.cta.primary.link }}" class="welcome__btn welcome__btn--blue" style="width:auto;">{{ .Params.layout_single_header.cta.primary.text }}</a>
            {{ end }}
            {{ if .Params.layout_single_header.cta.secondary }}
              <a href="{{ .Params.layout_single_header.cta.secondary.link }}" class="welcome__btn welcome__btn--text">{{ .Params.layout_single_header.cta.secondary.text }}</a>
            {{ end }}
          </div>
        {{ end }}
        </div>
      </div>
      <section class="core core-page bg-white">
        <div class="core-page-gray"></div>
        <div class="container-mini" style="padding-top: 50px;">
          <div class="single-md">
            {{ .Content }}
          </div>
        </div>
      </section>
      {{ partial "elements/follow.html"}}
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
