
<footer class="footer">
<div class="container animate-fade">
  <div class="footer__main flex_wrapper">
    <div class="footer__main-logo-box">
      <a href="/" title="">
        <img src="/img/icons/qrl-logo.svg" alt="qrl logo" />
      </a>
      <p>Zug, Switzerland CHE-229.731.700</p>
      <a href="mailto:info@theqrl.org" class="mail">info@theqrl.org</a>
    </div>
    <div class="footer__main-links flex_wrapper">
      <div class="footer__main-links-box">
        <h3>Site Map</h3>
        <a href="/markets" title="Markets">Markets</a>
        <a href="/#features" title="Features">Features</a>
        <a href="/downloads" title="Downloads">Downloads</a>
        <a href="/roadmap" title="Roadmap">Roadmap</a>
        <a href="/partners" title="Partners">Partners</a>
        <a href="/events" title="Blog">Events</a>
        <a href="/blog" title="Blog">Blog</a>
        <a href="/weekly" title="Blog">Weekly Updates</a>
        <a href="/presskit" title="Press Kit">Press Kit</a>
        <a href="/tokenomics" title="Press Kit">Tokenomics</a>
        <a href="/security-report" title="Security Report">Security Report</a>
        <a href="/bug-bounty" title="Bug Bounty">Bug Bounty</a>
        <a href="" title="Contact Us" class="show-popup" data-popup="contact">Contact Us</a>
      </div>
      <div class="footer__main-links-box">
        <h3>Cryptography</h3>
        <a href="/research" title="Citations">Research</a>
        <a href="/research/citations" title="Citations">Citations</a>
        <a href="/research/grants" title="Citations">Grants</a>
        <a href="https://datatracker.ietf.org/doc/draft-irtf-cfrg-xmss-hash-based-signatures/" title="XMSS" target="_blank">XMSS</a>
        <a href="https://huelsing.files.wordpress.com/2013/05/wotsspr.pdf" title="Winternitz OTS+" target="_blank">Winternitz OTS+</a>
        <a href="https://eprint.iacr.org/2017/634.pdf" title="Kyber" target="_blank">Kyber</a>
        <a href="https://cryptojedi.org/papers/dilithium-20170627.pdf" title="Dilithium" target="_blank">Dilithium</a>
      </div>
      <div class="footer__main-links-box">
        <h3>Whitepaper</h3>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper.pdf" title="English" target="_blank">English</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/ja/QRL_whitepaper_ja.pdf" title="Japanese" target="_blank">Japanese</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/ru/QRL_whitepaper_ru.pdf" title="Russian" target="_blank">Russian</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/fr/QRL_whitepaper_fr.pdf" title="French" target="_blank">French</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/vi/QRL_whitepaper_vi.pdf" title="Vietnamese" target="_blank">Vietnamese</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/tr/QRL_whitepaper_tr.pdf" title="Turkish" target="_blank">Turkish</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/zh/QRL_whitepaper_zh.pdf" title="Chinese" target="_blank">Chinese</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/de/QRL_whitepaper_de.pdf" title="German" target="_blank">German</a>
        <a href="https://github.com/theQRL/Whitepaper/blob/master/translations/es/QRL_whitepaper_es.pdf" title="Spanish" target="_blank">Spanish</a>
      </div>
      <div class="footer__main-links-box">
        <h3>Resources</h3>
        <a href="https://explorer.theqrl.org/" title="Explorer" target="_blank">Explorer</a>
        <a href="https://wallet.theqrl.org/" title="Web Wallet" target="_blank">Web Wallet</a>
        <a href="https://api.theqrl.org/" title="API Documentation" target="_blank">API Documentation</a>
        <a href="https://docs.theqrl.org/" title="Documentation" target="_blank">Documentation</a>
        <a href="https://enqlave.io" title="enQlave" target="_blank">enQlave</a>
        <a href="https://github.com/theQRL/" title="GitHub" target="_blank">GitHub</a>
        <a href="https://status.theqrl.org/" title="Service Status">Status</a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__copyright-links flex_wrapper flex_ai_center">
      <p>© {{ dateFormat "2006" now }} The QRL Foundation</p>
      <div class="flex_wrapper footer__copyright-links__inner flex_jc_beetween flex1">
        <div class="flex_wrapper flex_ai_center">
          <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
          <a href="/terms" title="Terms of Service">Terms of Service</a>
        </div>
        <a href="https://cryptogang.agency/" target="_blank" title="designed by CryptoGang Agency" class="footer__copyright-img flex_wrapper">
          <img src="/img/icons/copyright.svg" alt="CryptoGang Agency" />
        </a>
      </div>
    </div>
  </div>
</div>
</footer>
