<div class="popup-wrap popup-wrap--contact">
  <div class="popup-wrap__helper"></div>
  <div class="container">
    <div class="features-popup">
      <div class="features-popup__close-btn close-btn"></div>
      <div class="features-popup__inner">
        <div class="features-popup__col features-popup__col--title">
          <div class="features-popup__title">Contact Us</div>
          <p>
            <a class="popup-wrap__helper joanclarke" href="/#subscribe">Join our mailing list</a>, contact the team or join our vibrant and friendly community of users, developers and enthusiasts on <a href="https://discord.gg/jBT6BEp" style="text-decoration: underline;">Discord</a> or one of our other social channels
          </p>
        </div>
        <div class="features-popup__col features-popup__col--content">

            <div class="footer__main-links flex_wrapper" style="margin-top: 50px;">
              <div class="footer__main-links-box popup-edit">
                <h3>Press enquiries</h3>
                <a href="mailto:press@theqrl.org" title="press">press@theqrl.org</a>
              </div>
              <div class="footer__main-links-box popup-edit">
                <h3>Support requests</h3>
                <a href="mailto:support@theqrl.org" title="support">support@theqrl.org</a>
              </div>
              <div class="footer__main-links-box popup-edit">
                <h3>General enquiries</h3>
                <a href="mailto:info@theqrl.org" title="info">info@theqrl.org</a>
              </div>
              <div class="foll__linx" style="margin-top: 50px;">
                {{ partial "elements/social.html" }}
              </div>
            </div>
          </div>
          <!--End mc_embed_signup-->
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>