    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        transition: 1s all;
        filter: brightness(35%);
        // pointer-events:none;
    }
    
    .youtube-player:hover img {
        filter: brightness(80%);
    }
    .youtube-player .play::before {
    	content:'';
    	font-size:41px;
    	line-height: 69px;
    	padding:0;
    	padding-left:2px;
    	color:#FFF;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("/assets/play.png") no-repeat;
        cursor: pointer;
    }