<section id="tabs" class="tabs bg-white">
  <div class="tabs__head"></div>
  <div class="container tabs__buttons flex_wrapper animate-fade">
    <button data-tab="#1" class="tabs__button active">
      <div class="tabs__button-img"></div>
      <p class="tabs__button-text">For users</p>
    </button>
    <button data-tab="#2" class="tabs__button">
      <div class="tabs__button-img"></div>
      <p class="tabs__button-text"> For developers</p>
    </button>
    <button data-tab="#3" class="tabs__button">
      <div class="tabs__button-img"></div>
      <p class="tabs__button-text"> For miners</p>
    </button>
  </div>
  <div class="tabs__main container-mini animate-fade">
    <div class="tabs__content  active" id="1">
      <button data-tab="#1" class="tabs__button">
        <div class="tabs__button-img"></div>
        <p class="tabs__button-text">For users</p>
      </button>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Download Wallets</h3>
        </div>
        <div class="tabs__line-right">
           Download the desktop wallet, available for Windows, OSX, and Linux. Complete with ledger nano S support.</p>
          <p class="tabs__line-right__text-mini" id="downloads-text">Desktop (Windows)</p>
          <a href="/downloads/wallets" id="downloads-url" title="Download">Download</a>
          <p class="tabs__line-right__text-mini others"><a href="/downloads/wallets">Other platforms &raquo;</a></p>
          <p class="tabs__line-right__text-mini">Mobile</p>
          <div class="flex_wrapper">
            <a href="https://play.google.com/store/apps/details?id=com.theqrl" title="Download from Google Play" target="_blank" class="tabs__line-right__text-link google"></a>
            <a href="https://itunes.apple.com/us/app/qrl-wallet/id1458620542?ls=1&mt=8" title="Download from App Store" target="_blank" class="tabs__line-right__text-link apple"></a>
          </div>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Web Wallet</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Create and interact with a QRL wallet from any modern browser</p>
          <a href="https://wallet.theqrl.org/" target="_blank" title="Launch Web Wallet">launch</a>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Block Explorer</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Explore the whole QRL blockchain: blocks, addresses and transactions; using our block explorer</p>
          <a href="https://explorer.theqrl.org/" target="_blank" title="Launch Block Explorer">launch</a>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Mining</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Get started mining and support the network</p>
          <a href="https://docs.theqrl.org/mining/mining" target="_blank" title="Start Mining">Get started</a>
        </div>
      </div>
    </div>
    <div class="tabs__content" id="2">
      <button data-tab="#2" class="tabs__button">
        <div class="tabs__button-img"></div>
        <p class="tabs__button-text"> For developers</p>
      </button>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>API Documentation</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Develop using our <em>extensive</em> API and tools covering every aspect of the QRL blockchain</p>
          
          <div class="flex_wrapper">
            <a class="tabs__line-right__text-link" href="https://api.theqrl.org/#qrl-api" target="_blank" title="Launch Block Explorer">QRL API</a>
            <a class="tabs__line-right__text-link" href="https://api.theqrl.org/#wallet-api" target="_blank" title="Launch Block Explorer">Wallet API</a>
            <a class="tabs__line-right__text-link" href="https://api.theqrl.org/#explorer-api" target="_blank" title="Launch Block Explorer">Explorer API</a>
          </div>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>GitHub</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Check out our MIT-licensed enterprise-grade open source code</p>
          <a href="https://github.com/theQRL" target="_blank" title="Explore GitHub">explore</a>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Running your QRL Node</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Run a local node.</p>
          <div class="flex_wrapper">
            <a class="tabs__line-right__text-link" href="https://docs.theqrl.org/node/QRLnode/" target="_blank" title="Launch Block Explorer">QRL Node</a>
            <a class="tabs__line-right__text-link" href="https://docs.theqrl.org/node/docker/" target="_blank" title="Launch Block Explorer">Docker Node</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__content" id="3">
      <button data-tab="#3" class="tabs__button">
        <div class="tabs__button-img"></div>
        <p class="tabs__button-text"> For miners</p>
      </button>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Pool Mining</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Easily setup your computer or mining rig to mine with one of the many mining pools available.</p>
          <div class="flex_wrapper">
            <a class="tabs__line-right__text-link" href="https://docs.theqrl.org/mining/mining/" target="_blank" title="Launch Block Explorer">Mining Setup (docs)</a>
            <a class="tabs__line-right__text-link" href="https://miningpoolstats.stream/quantumrl" target="_blank" title="Launch Block Explorer">Mining Pools</a>
          </div>
        </div>
      </div>
      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Mining Pool setup</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Setup a mining pool for yourself or others.</p>
          <a href="https://docs.theqrl.org/mining/pool/" target="_blank" title="Explore GitHub">Mining Pool Setup (docs)</a>
        </div>
      </div>

      <div class="tabs__line flex_wrapper">
        <div class="tabs__line-left">
          <h3>Node mining</h3>
        </div>
        <div class="tabs__line-right">
          <p class="tabs__line-right__text">Run and mine from your own QRL node.</p>
          <a href="https://docs.theqrl.org/mining/full-node/" target="_blank" title="Explore GitHub">QRL Node Mining (docs)</a>
        </div>
      </div>
    </div>
  </div>
</section>