{{ partial "head/prerender.html" . }}
  <body data-page-name="homePage" class="homePage">
    {{ partial "elements/menu.html" . }}
    <main>
      <section class="welcome" id="welcome">
        <div class="welcome__bg-wrap">
          <video class="intro__bg intro__bg--large" autoplay muted playsinline loop>
            <source src="media/welcome-bg.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          </video>
        </div>
        <div class="container">
          <div class="welcome__inner">
            <div class="welcome__pre-title">We are</div>
            <h1 class="welcome__title">The Quantum Resistant Ledger</h1>
            <div class="welcome__text">Visionary blockchain and digital asset security<br>
            </div>
            <div class="welcome__btn-area">
              <a href="#tabs" class="welcome__btn welcome__btn--blue">Get started</a>
              <a href="#security" class="welcome__btn welcome__btn--text">Explore more</a>
            </div>
          </div>
        </div>
      </section>
      <section class="security" id="security">
        <div class="container animate-fade">
          <div class="security__inner">
            <div class="security__column security__column--img">
              <img src="../img/icons/tree.svg" alt="" class="security__bg-img">
            </div>
            <div class="security__column security__column--content">
              <div class="security__pre-title">Security by Design</div>
              <div class="security__title">A powerful blockchain platform secured by XMSS</div>
              <div class="security__text">XMSS is a <a href="https://csrc.nist.gov/publications/detail/sp/800-208/final">NIST-approved</a> post-quantum secure digital signature scheme</div>
            </div>
          </div>
        </div>
      </section>
      <section class="cases" id="cases">
        <div class="container animate-fade">
          <div class="cases__inner">
            <div class="cases__slider-outer">
              <div class="cases__slider-title">Future Proof</div>
              <div class="cases__img-slider-col">
                <div class="cases__img-slider swiper-container">
                  <div class="cases__img-slides-wrap swiper-wrapper">
                    <div class="cases__img-slide swiper-slide">
                      <img src="../img/icons/cases_slider_pic1.jpg" alt="" class="cases__img">
                    </div>
                    <div class="cases__img-slide swiper-slide">
                      <img src="../img/icons/cases_slider_pic2.jpg" alt="" class="cases__img">
                    </div>
                    <div class="cases__img-slide swiper-slide">
                      <img src="../img/icons/cases_slider_pic3.jpg" alt="" class="cases__img">
                    </div>
                  </div>
                </div>
              </div>
              <div class="cases__text-slider-col">
                <div class="cases__text-slider swiper-container">
                  <div class="cases__text-slides-wrap swiper-wrapper">
                    <div class="cases__text-slide swiper-slide">
                      <div class="cases__slide-title">Secure digital assets</div>
                      <div class="cases__slide-text">The QRL digital asset is secure against current and emerging cryptographic threats.  Our suite of solutions provide a range of options for the safe custody of QRL digital assets and interaction with public and private post-quantum secure blockchains built on our core protocol.</div>
                    </div>
                    <div class="cases__text-slide swiper-slide">
                      <div class="cases__slide-title">Enabling post-quantum secure communications</div>
                      <div class="cases__slide-text">Combining on-chain lattice key storage with our powerful ephemeral messaging layer to internode communication provides a first-of-its-kind post-quantum secure message layer for ultra-secure digital communications.</div>
                    </div>
                    <div class="cases__text-slide swiper-slide">
                      <div class="cases__slide-title">Broad integrations & diverse ecosystem</div>
                      <div class="cases__slide-text">Tight integration with the world's leading hardware digital asset storage solutions and open development architecture, open-source and audited cryptography and a rich API experience for developers make QRL a robust enterprise-grade solution.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cases__navigation-wrap">
                <div class="cases__navigation swiper-navigation">
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="features" id="features">
        <div class="container animate-fade">
          <div class="features__inner">
            <div class="features__title">An externally audited enterprise-grade blockchain platform secure today from the quantum computing advances of tomorrow. </div>
            <ul class="features__list">
              <li class="features__item">
                <div class="features__item-inner">
                  <a href="#" target="_blank" class="features__img-wrap show-popup" data-popup="feature1">
                    <img src="../img/icons/features1.jpg" alt="" class="features__img">
                    <img src="../img/icons/features1_hover.jpg" alt="" class="features__img features__img--hover">
                  </a>
                  <div class="features__item-content">
                    <a href="#" target="_blank" class="features__item-title show-popup" data-popup="feature1">Visionary Security</a>
                    <div class="features__item-text">QRL is the first industrial implementation to utilize IETF specified XMSS; a hash-based, forward secure signature scheme with minimal security assumptions and reusable addresses. </div>
                    <a href="#" target="_blank" class="read-more-button show-popup" title="read article" data-popup="feature1">read more</a>
                  </div>
                </div>
              </li>
              <li class="features__item">
                <div class="features__item-inner">
                  <a href="#" target="_blank" class="features__img-wrap show-popup" data-popup="feature2">
                    <img src="../img/icons/features2.jpg" alt="" class="features__img">
                    <img src="../img/icons/features2_hover.jpg" alt="" class="features__img features__img--hover">
                  </a>
                  <div class="features__item-content">
                    <a href="#" target="_blank" class="features__item-title show-popup" data-popup="feature2">Developer Friendly</a>
                    <div class="features__item-text">Extensive tools, documentation and a rich API gives the tools to build anything, today, on an industrial grade platform that will survive tomorrow. </div>
                    <a href="#" target="_blank" class="read-more-button show-popup" title="read article" data-popup="feature2">read more</a>
                  </div>
                </div>
              </li>
              <li class="features__item">
                <div class="features__item-inner">
                  <a href="#" target="_blank" class="features__img-wrap show-popup" data-popup="feature3">
                    <img src="../img/icons/features3.jpg" alt="" class="features__img">
                    <img src="../img/icons/features3_hover.jpg" alt="" class="features__img features__img--hover">
                  </a>
                  <div class="features__item-content">
                    <a href="#" target="_blank" class="features__item-title show-popup" data-popup="feature3">User Oriented</a>
                    <div class="features__item-text">A full suite of end-user products designed with the end user in mind:  from integrations with hardware wallets to mobile applications.</div>
                    <a href="#" target="_blank" class="read-more-button show-popup" title="read article" data-popup="feature3">read more</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      {{ partial "elements/downloads.html" }}
      <section id="get-involved" class="get-involved default-padding bg-white">
        <div class="container featured__container animate-fade">
          <h2>get involved</h2>
          <div class="get-involved__list">
            <div class="get-involved__el flex_wrapper flex_ai_center flex_dir_col flex_jc_center">
              <div class="get-involved__el-img">
                <img src="img/icons/icon-discord.svg" alt="discord" />
              </div>
              <div class="get-involved__el-title">Discord</div>
              <div class="get-involved__el-text">Discover our friendly Discord community</div>
              <a href="/discord" target="_blank" title="Explore Discord" class="get-involved__el-button"> Join </a>
            </div>
            <div class="get-involved__el flex_wrapper flex_ai_center flex_dir_col flex_jc_center">
              <div class="get-involved__el-img">
                <img src="img/icons/icon-github.svg" alt="GitHub" />
              </div>
              <div class="get-involved__el-title">GitHub</div>
              <div class="get-involved__el-text">Check out and contribute to our codebase</div>
              <a href="https://github.com/theQRL" target="_blank" title="Explore GitHub" class="get-involved__el-button"> Explore </a>
            </div>
            <div class="get-involved__el flex_wrapper flex_ai_center flex_dir_col flex_jc_center">
              <div class="get-involved__el-img">
                <img class="no-filter" src="img/icons/icon-contact.svg" alt="Contact Us" />
              </div>
              <div class="get-involved__el-title">Contact Us</div>
              <div class="get-involved__el-text">Reach out to the team</div>
              <a href="" title="" class="get-involved__el-button show-popup" data-popup="contact"> Contact </a>
            </div>
            <div class="get-involved__el flex_wrapper flex_ai_center flex_dir_col flex_jc_center">
              <div class="get-involved__el-img">
                <img class="no-filter" src="img/icons/icon-jobs.svg" alt="Jobs" />
              </div>
              <div class="get-involved__el-title">Jobs</div>
              <div class="get-involved__el-text">Apply to join our talented team</div>
              <a id="#subscribe" href="https://angel.co/theqrl/jobs" target="_blank" title="Explore Jobs" class="get-involved__el-button"> Vacancies </a>
            </div>
          </div>

          <div class="container-mini">
            <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <a name="subscribe"></a>
        <form action="https://theQRL.us15.list-manage.com/subscribe/post?u=320d425bdf5f1ebac6339bb6b&amp;id=49498f9dd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Subscribe for updates</h2>
        <div class="indicates-required" style="display: none;"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk"><!--*--></span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
            <div class="content__gdpr">
                <label>GDPR Email Permissions</label>
                <p>Please select all the ways you would like to hear from The QRL Foundation:</p>
                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            <label class="checkbox subfield" for="gdpr_22496"><input type="checkbox" id="gdpr_22496" name="gdpr[22496]" value="Y" class="av-checkbox "><span>Email</span> </label>
                </fieldset>
                <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please see our <a href="/privacy">privacy policy</a>.</p>
            </div>
            <div class="content__gdprLegal">
                <p style="margin-top: 14px">We use Mailchimp as our mailing list platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_320d425bdf5f1ebac6339bb6b_49498f9dd0" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
        </div>
        
        <!--End mc_embed_signup-->
          </div>


        </div>
      </section>
      <section id="core" class="core default-padding bg-white">
        <div class="container-mini animate-fade">
          <div class="core__video">
            <video class="" autoplay muted playsinline loop>
              <source src="media/v_02.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
          </div>
          <p class="text-yellow section-title">Partners</p>
          <h2 class="section-title-header"> <a href="/partners" class="read-more-button">See All Partners</a></h2>
          <div class="grid grid-three-cols">
            {{ range first 9 (where (where .Site.Pages "Params.layout" "partner") ".Params.inactive" "!=" true)}}
            <a href='{{ .Param "website" }}' target="_blank">
              <div class="core__el">
                <div class="core__el__img">
                  <img src='{{ .Param "profile" }}' alt='{{ .Param "name" }}' />
                </div>
                <div class="core__el__inner" style="text-align: center;"> {{ .Param "name" }}<br>
                  <p>{{ .Param "position" }}</p>
                </div>
              </div>
            </a>
            {{end}}
          </div>
          <div class="read-more-button__block">
            <a href="/partners" class="read-more-button">See All Partners</a>
          </div>
        </div>
      </section>

      {{ .Scratch.Set "section_title" "Develop with us" }}
      {{ .Scratch.Set "section_title_header" "Open source contributors" }}
      {{ partialCached "elements/contributors.html" . }}


      <section id="integrations" class="featured big-padding">
        <div class="animate-fade">
          <div class="container-mini">
            <p class="text-yellow section-title">Expanding post-quantum readiness</p>
            <h2 class="section-title-header" style="color: #fff">Integrations & Partners</h2>
          </div>
          <div class="container featured__container">
            <div class="grid grid-four-cols">
              <a href="https://support.ledger.com/hc/en-us/articles/360019184453-Quantum-Resistant-Ledger-QRL-" class="featured__el" title="Ledger" target="_blank">
                <img class="bw-img" src="img/feat-logos/ledgerbw.png" alt="Ledger" />
                <img class="color-img" src="img/feat-logos/ledgerhover.png" alt="Ledger" />
              </a>
              <a href="https://keybase.theqrl.org" class="featured__el" title="Keybase" target="_blank">
                <img class="bw-img" src="img/feat-logos/keybase-bw.png" alt="Keybase" />
                <img class="color-img" src="img/feat-logos/keybase-col.png" alt="Keybase" />
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.theqrl" class="featured__el" title="Google Play" target="_blank">
                <img class="bw-img" src="img/feat-logos/google-bw.png" alt="Google Play" />
                <img class="color-img" src="img/feat-logos/google-col.png" alt="Google Play" />
              </a>
              <a href="https://itunes.apple.com/us/app/qrl-wallet/id1458620542?ls=1&mt=8" class="featured__el" title="App Store" target="_blank">
                <img class="bw-img" src="img/feat-logos/apple-bw.png" alt="App Store" />
                <img class="color-img" src="img/feat-logos/apple-col.png" alt="App Store" />
              </a>
              <a href="/blog/insight-researchers-partners-with-the-quantum-resistant-ledger/" class="featured__el" title="Geometry Labs" target="_blank">
                <img class="bw-img" src="img/feat-logos/geometrylabs-bw.png" alt="Geometry Labs" />
                <img class="color-img" src="img/feat-logos/geometrylabs-col.png" alt="Geometry Labs" />
              </a>
              <a href="/" class="featured__el" title="soon" target="_blank">
                <img class="bw-img" src="img/feat-logos/soon-bw.png" alt="soon" />
                <img class="color-img" src="img/feat-logos/soon-col.png" alt="soon" />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="membership" class="featured big-padding bg-white">
        <div class="animate-fade">
          <div class="container-mini">
            <p class="text-yellow section-title">Working with key institutions</p>
            <h2 class="section-title-header">Members</h2>
          </div>
          <div class="container featured__container">
            <div class="grid grid-four-cols">
              {{ range (where (where .Site.Pages "Params.layout" "member") ".Params.inactive" "!=" true)}}
                <a href="'{{ .Param "website" }}" class="featured__el single-img" title="soon" target="_blank">
                  <img src="{{ .Param "image" }}" alt="soon" />
                </a>
              {{end}}
            </div>
          </div>
        </div>
      </section>

      <section id="featured" class="featured big-padding">
        <div class="animate-fade">
          <div class="container-mini">
            <p class="text-yellow section-title">They talk about us</p>
            <h2 class="section-title-header">Featured in</h2>
          </div>
          <div class="container featured__container">
            <div class="grid grid-four-cols">
              <a href="https://chainbulletin.com/will-googles-quantum-supremacy-change-the-future-of-cryptocurrency/" class="featured__el" title="chainbulletin" target="_blank">
                <img class="bw-img" src="img/feat-logos/chainbulletin-logo.png" alt="chainbulletin" />
                <img class="color-img" src="img/feat-logos/chainbulletin-color-logo.png" alt="chainbulletin" />
              </a>
              <a href="https://www.coindesk.com/what-googles-quantum-supremacy-means-for-the-future-of-cryptocurrency" class="featured__el" title="coindesk" target="_blank">
                <img class="bw-img" src="img/feat-logos/coindesk-logo.png" alt="coindesk" />
                <img class="color-img" src="img/feat-logos/coindesk-color-logo.png" alt="coindesk" />
              </a>
              <a href="https://cryptodaily.co.uk/2019/09/how-will-blockchains-battle-quantum-computing" class="featured__el" title="cryptodaily" target="_blank">
                <img class="bw-img" src="img/feat-logos/cryptodaily-logo.png" alt="cryptodaily" />
                <img class="color-img" src="img/feat-logos/cryptodaily-color-logo.png" alt="cryptodaily" />
              </a>
              <a href="https://www.forbes.com/sites/arthurherman/2018/10/02/why-blockchain-is-no-silver-bullet-for-cyber-threats/?sh=55ed7766343c" class="featured__el" title="forbes" target="_blank">
                <img class="bw-img" src="img/feat-logos/forbes-logo.png" alt="forbes" />
                <img class="color-img" src="img/feat-logos/forbes-color-logo.png" alt="forbes" />
              </a>
              <a href="https://www.businessapac.com/the-qrl-foundation-leveraging-the-power-of-blockchain/" class="featured__el" title="businessapac" target="_blank">
                <img class="bw-img" src="img/feat-logos/businessapac-logo.png" alt="businessapac" />
                <img class="color-img" src="img/feat-logos/businessapac-color-logo.png" alt="businessapac" />
              </a>
              <a href="https://www.the-blockchain.com/2018/06/29/qrl-launches-quantum-resistant-blockchain/" class="featured__el" title="blockchainnews" target="_blank">
                <img class="bw-img" src="img/feat-logos/blockchainnews-logo.png" alt="blockchainnews" />
                <img class="color-img" src="img/feat-logos/blockchainnews-color-logo.png" alt="blockchainnews" />
              </a>
              <a href="https://www.cnet.com/personal-finance/crypto/cryptocurrency-faces-a-quantum-computing-problem/" class="featured__el" title="cnet" target="_blank">
                <img class="bw-img" src="img/feat-logos/cnet-logo.png" alt="cnet" />
                <img class="color-img" src="img/feat-logos/cnet-color-logo.png" alt="cnet" />
              </a>
            </div>
            <p style="margin-top: 20px;">Plus all our academic citations <a href="/research/citations" class="read-more-button" title="Citations">read more</a></p>
          </div>
        </div>
      </section>
      <section id="blog" class="blog big-padding">
        <div class="container animate-fade">
          <div class="container-mini">
            <p class="text-yellow section-title">Read more</p>
            <h2 class="section-title-header">Recent news and updates</h2>
          </div>
          <div class="flex_wrapper blog__wrapper">
            {{ $paginator := .Paginate (where .Site.AllPages "Params.layout" "blog-post") 3 }}
            <div class="blog__left">
              <div>
                {{ range first 1 $paginator.Pages }}
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="small-p">
                  {{ $t := .Site.AllPages }}
                  {{ range .Params.categories }}
                  {{ $linked := newScratch }}
                  {{ $linked.Set "linked" false }}
                  {{ $a := . }}
                  {{ range $t }}
                    {{ if eq .Params.tagName $a }}
                      <a href="{{ .Params.stub }}">{{ $a }}</a>&nbsp;&nbsp;
                      {{ $linked.Set "linked" true }}
                    {{ end }}
                  {{end}}
                  {{ if eq ($linked.Get "linked") false }}
                  <a href="#">{{ . }}</a>&nbsp;&nbsp;
                  {{ end }}
                  {{ end }}
                </p>
                <p class="text-p">{{ .Summary }}</p>
              </div>
              <a href="{{ .Permalink }}" class="read-more-button" title="read article">read more</a>
              {{ end }}
            </div>
            <div class="blog__right">
              {{ range last 2 $paginator.Pages }}
              <div class="blog__right__el">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="small-p">
                  {{ $t := .Site.AllPages }}
                  {{ range .Params.categories }}
                  {{ $linked := newScratch }}
                  {{ $linked.Set "linked" false }}
                  {{ $a := . }}
                  {{ range $t }}
                    {{ if eq .Params.tagName $a }}
                      <a href="{{ .Params.stub }}">{{ $a }}</a>&nbsp;&nbsp;
                      {{ $linked.Set "linked" true }}
                    {{ end }}
                  {{end}}
                  {{ if eq ($linked.Get "linked") false }}
                  <a href="#">{{ . }}</a>&nbsp;&nbsp;
                  {{ end }}
                  {{ end }}
                </p>
                <p class="text-p">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="read-more-button" title="read article">read more</a>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
      <section id="follow" class="follow">
        <div class="follow__inner flex_wrapper flex_ai_center flex_jc_center animate-fade">
          <p>Follow us</p>
          <div class="follow__links">
            {{ partial "elements/social.html" }}
          </div>
        </div>
      </section>
      <div class="popup-wrap popup-wrap--feature1">
        <div class="popup-wrap__helper"></div>
        <div class="container">
          <div class="features-popup">
            <div class="features-popup__close-btn close-btn"></div>
            <div class="features-popup__inner">
              <div class="features-popup__col features-popup__col--title">
                <div class="features-popup__title">Visionary Security</div>
              </div>
              <div class="features-popup__col features-popup__col--content">
                <div class="features-popup__content-col">
                  <div class="features-popup__content-text">
                    <p>Secure now and from attacks using quantum-computers in the future.</p>
                    <p>QRL is the first industrial implementation to utilize <a href="https://tools.ietf.org/html/rfc8391">IETF specified XMSS</a>; a hash-based, forward secure signature scheme with minimal security assumptions and reusable addresses that comes with <a href="https://csrc.nist.gov/publications/detail/sp/800-208/final">NIST approval</a></p>
                  </div>
                </div>
                <div class="features-popup__content-col">
                  <div class="features-popup__content-text">
                    <p>An extensible <a href="https://docs.theqrl.org/developers/address/">address format</a> with quantum security built in from the genesis block.</p>
                    <p>An open source, code-base with implementation verified by third-party audits from<a href="https://red4sec.com/">red4sec</a> and <a href="https://www.x41-dsec.de/">x41 D-sec</a>.</p>
                    <p>Development of <a href="https://enqlave.io">enQlave</a>, bringing QRL technology to the Ethereum platform</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-wrap popup-wrap--feature2">
        <div class="popup-wrap__helper"></div>
        <div class="container">
          <div class="features-popup">
            <div class="features-popup__close-btn close-btn"></div>
            <div class="features-popup__inner">
              <div class="features-popup__col features-popup__col--title">
                <div class="features-popup__title">Developer Friendly</div>
                <div class="features-popup__text"> Extensive documentation and an API reference gives the tools to build anything, today, on an industrial grade platform that will survive tomorrow. </div>
              </div>
              <div class="features-popup__col features-popup__col--content">
                <div class="features-popup__content-col">
                  <div class="features-popup__content-title">Some features already available:</div>
                  <div class="features-popup__content-text">
                    <p>Ledger-wide post-quantum (PQ) security</p>
                    <p>Reusable addresses</p>
                    <p>Quantum resistant token (QRT) support</p>
                    <p>On-chain message support (80 bytes)</p>
                    <p>PQ document notarisation</p>
                    <p><a href="https://keybase.io">Keybase</a> ID integration</p>
                    <p>Full-featured <a href="https://api.theqrl.org">API</a></p>
                    <p>Multisignature wallet capability</p>
                  </div>
                </div>
                <div class="features-popup__content-col">
                  <div class="features-popup__content-title">Features under development:</div>
                  <div class="features-popup__content-text">
                    <p>PQ proof-of-stake consensus</p>
                    <p>Easy to secure smart-contracts</p>
                    <p>Ephemeral messaging ultilising <a href="https://cryptojedi.org/papers/dilithium-20170627.pdf"></a>Dilithium</a> and <a href="https://eprint.iacr.org/2017/634.pdf">Kyber</a></p>
                    <p>Expanding QRL technology to secure other digital assets</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-wrap popup-wrap--feature3">
        <div class="popup-wrap__helper"></div>
        <div class="container">
          <div class="features-popup">
            <div class="features-popup__close-btn close-btn"></div>
            <div class="features-popup__inner">
              <div class="features-popup__col features-popup__col--title">
                <div class="features-popup__title">User Oriented</div>
              </div>
              <div class="features-popup__col features-popup__col--content">
                <div class="features-popup__content-col">
                  <div class="features-popup__content-text">
                    <p>A full suite of user-facing applications make interacting with the QRL blockchain and digital assets a breeze.</p>
                    <p>Our <a href="/downloads">downloads</a> page has products for
                      Desktop (Windows, Mac, Linux), Mobile (iOS, Android) and the web
                    <p>Hardware wallet support with <a href="https://support.ledger.com/hc/en-us/articles/360019184453-Quantum-Resistant-Ledger-QRL-">Ledger Nano S & X</a></p>
                  </div>
                </div>
                <div class="features-popup__content-col">
                  <div class="features-popup__content-text">
                    <p>Just a click away is helpful <a href="https://docs.theqrl.org">documentation</a> accompanied by a supportive <a href="https://discord.gg/jBT6BEp">community</a> and email assistance 24/7 at <a href="mailto:support@theqrl.org">support@theqrl.org</a>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ partial "footer/popup.html" }}
    </main>
  {{ partial "footer/nav.html" }}
{{ partial "footer/end.html" }}
