$grid_gap: $grid_margin;

.grid > .component-conferences {
			padding:0;
}

.component-conferences {
	margin: $grid_margin;
	display: grid;
	align-items: stretch;
	background-color: $quantum_deep;
    grid-column-gap: $grid_gap;
    grid-row-gap: $grid_gap;

	grid-template-columns: 1fr;
	box-shadow: $shadow;

	@include md {
		grid-template-columns: 275px 1fr 175px;
	}

	h1, h2, p {
		color:#FFF;
	}

	> div {
		display:flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		padding: $grid_gap;
	}

	.image {
		background-color:#FFF;

		img {
			width:100%;
			max-width: 100%;
		}
	}
}


	// .grid.conference {
	// 	color:#FFF;
	// 	padding:$grid_padding;


	// 	> div {
	// 		box-shadow: $shadow;
	// 		background-color:#160529;
	// 		grid-template-columns: 1fr;
	// 		width:100%;

	// 		@include md {
	// 			grid-template-columns: 275px 1fr 175px;
	// 		}
	// 	}
	// 	> div > div:last-child {
	// 		display: grid;
	// 		align-items: center;
	// 		text-align: center;

	// 	}
	// 	.cta {
	// 		margin:0 auto;
	// 		white-space: nowrap;
			
	// 		@include sm-max {
	// 			width:100%;
	// 		}
	// 	}
	// 	.description {

	// 	}
	// 	h2 {
	// 		color:#FFF;
	// 		font-weight: 500;
	// 		margin:0;
	// 	}
	// 	p {
	// 		color:#FFF;
	// 		margin:0;
	// 		font-family: $heading_font;
	// 		font-weight: 400;
	// 	}
	// }