.header {
	.shadow {
		position:absolute; width:100%; height:100%;
		overflow: hidden;
		top:0; left:0;

		&:before {
			display:block;
			position:absolute; width:100%; height:100%;
			top:0; left:0;
			box-shadow: inset 0px -23px 32px 6px #000;
		}

	}
	padding-bottom: 0;
	position: relative;
	
	.grid {
		max-width: 1300px;
	}
	@include md {
		padding-top:5px;
	}

	.logo img {
		max-width: 100%;
		height:auto;
	}
	li svg {
		max-height:12px;
	}

	.menu nav {
		padding-top: 5px;
		ul {
			justify-content: flex-end;
		}

		@include lg { padding-top: 5px; } // 18px
		li.dropdown {
			> a {
				position: relative;
				
				&:after {
					position: absolute;
					right:0px; top:9px;
					@include sm {
						right:0px;
					}
					@include md {
						right:5px;
					}
					@include lg {
						right:15px;
					}
					display:block;
					content: url('https://icons.simplesvg.com/ion-ios-arrow-down.svg?color=%23dc255d&height=16');
					vertical-align: -0.125em;
					width:18px; height:18px;
					transition: all 0.3s;
				}

			}
			&.active {
				> a {
					&:after {
						transform:rotate(180deg);
					}
				}				
			}
			@include md {
				&:hover {
					> a {
						&:after {
							transform:rotate(180deg);
						}
					}	
				}
			}
		}
		ul li {
			position: relative;
			
			&.active {
				> a {
					color:$quantum_burst;
				}
				> ul {
					display: flex;
					border:1px solid $quantum_burst;

					a:hover {
						background-color: $quantum_burst;
						color:#FFF;
					}

				} 
			}

			@include md {
				&:hover {
					> a {
						color:$quantum_burst;
					}
					> ul {
						display: flex;
						border:1px solid $quantum_burst;

						a:hover {
							background-color: $quantum_burst;
							color:#FFF;
						}

					} 
				}
			}
			ul {
				min-width: 150px;
				display:none;
				border:1px solid #000;
				position: absolute;
				left:0;
				flex-direction: column;
				text-align: left;
				background-color: #F3F3F3;
				a {
					padding:5px 10px;
				}
			}
		}

		// Hamburger on small menus
		#nav-icon {
			display:none;
			z-index: 6;
		}
		@include md-max {

			> ul {
				justify-content: flex-start ;
				position:fixed;
				top:0px; right:-110%;
				width:90%; height:100vh;
				transition: all 0.5s;
				background-color: darken($quantum_deep, 2%);
				flex-direction:column;
				box-shadow: $shadow;
				background-image: url(/assets/particles/orb.png);
				background-repeat: no-repeat;
				background-position: bottom -100px right -40px;
				
				a {
					display:block;
					width:100%;
					font-size:30px;
					padding-bottom: 20px;
					padding-top: 20px;
					color: #FFF;
				}




				li {
					position: relative;
					> a {
						padding-left: 15px;

						&:after {
							content:'' !important;
							background: url('https://icons.simplesvg.com/ion-ios-arrow-down.svg?color=%23dc255d&height=16') no-repeat center center / contain;
							height:18px;
							top:23px !important;
							right:15px !important;
						}
					}
					&:hover,
					&.active {
						> a {
							color:$quantum_burst;
						}
						> ul {
							// display: flex;
							border:0px solid $quantum_burst;
							background-color: $quantum_deep;


							a:hover {
								background-color: $quantum_burst;
								color:#FFF;

							}

						} 
					}
					ul {
						min-width: 150px;
						display:none;
						border:1px solid #000;
						position: relative;
						left:0;
						flex-direction: column;
						text-align: left;
						background-color: transparent;
						a {
							padding:10px 10px;
														padding-left:25px;

							font-size: 15px;
						}
					}
				}
			}

			#nav-icon {
				display:block;
				width: 80px;
				height: 80px;
				position: fixed;
				bottom:20px; right:20px;
				margin: 0px auto;
				transform: rotate(0deg);
				border-radius:50%;
				padding:10px;
				transition: .25s ease-in-out;
				cursor: pointer;
				background-color:$quantum_burst;
				box-shadow: $shadow;

				&:hover {
					background-color: $quantum_hover!important;
				}
				span:nth-child(1) {
					top: 20px;
				}
				span {
					display: block;
					position: absolute;
					height: 4px;

					width: 50%;
					background: #FFF;
					border-radius: 9px;
					opacity: 1;
					left:20px;
					transform: rotate(0deg);
					transition: .25s ease-in-out;
				}
				span:nth-child(2),
				span:nth-child(3) {
				  top: 38px;
				}

				span:nth-child(4) {
				  top: 56px;
				}

				&.open span:nth-child(1) {
				  top: 38px;
				  width: 0%;
				  left: 50%;
				}

				&.open span:nth-child(2) {
				  transform: rotate(45deg);
				}

				&.open span:nth-child(3) {
				  transform: rotate(-45deg);
				}

				&.open span:nth-child(4) {
				  top: 28px;
				  width: 0%;
				  left: 50%;
				}
				&.open + ul {
					right:0;
				}
			}
		}
		
		svg {
			display:block;
			@include sm {
				display:none;
			}
		}
		a {
			@include sm {
				font-size:13px;
			}
		}
		padding-left: 0px;
		@include sm {	padding-left:0px; }
		@include md {	padding-left:10px; }
		@include lg {	padding-left:20px; }
	}
	nav a {
		font-size:13px;
		text-transform: uppercase;
		padding:5px 20px;

		@include md {
			padding:5px 25px;
		}
		@include lg {
			padding:5px 40px;
		}

	}
}