---
layout: default
---

<div class="wrapper docs">
	<div class="grid w12">
		<div class="w12">
			<p>Head back to <a href="/docs">Documentation</a></p>
			<h1>Documentation</h1>

		  {% if page.title %}
		    <h2 class="page-heading">{{ page.title }}</h2>
		  {% endif %}

		  <div class="grid no-padding">
		  		<div class="w8 document-page">
				  {{ content }}		  			
		  		</div>
		  		<div class="w4">
		  			<div class="floatmenu">
						
						<ul id="stickymenu">
						</ul>

						<p>Still stuck? There's help over on <a href="https://discord.gg/zcGhKpy">Discord!</a></p>		  				
		  			</div>

		  		</div>
		
		  </div>
		</div>		
	</div>
</div>
<style>
.floatmenu {
	position:sticky;
	top:0;
}
</style>
<script>
var elements = document.querySelectorAll('.document-page h2, .document-page h3');

Array.prototype.forEach.call(elements, function(el, i){

	var linode = document.createElement("li");                 
	var anode = document.createElement("a");
	anode.setAttribute('href', '#'+el.id);
	var text = document.createTextNode(el.innerHTML);
	anode.appendChild(text);
	linode.appendChild(anode);  
	
	// Add new menu item
	document.getElementById('stickymenu').appendChild(linode);

	// Make each element linkable
	el.innerHTML='<a href="#'+el.id+'">' + el.innerHTML + '</a>';

});
</script>
