---
layout: default
---
<div class="wrapper intro">
	<div class="grid">
		<div class="w12">
			    <h1 class="page-heading">{{ page.title }}</h1>
			<div class="grid support w6">
				<div>
					<h2>Introduction</h2>
					<p>Introductory Guides and videos + common issues and how to resolve them.</p>
				</div>
				<div>
					<h2>Wallet</h2>
                                        <a href="/docs/wallet/basics">Basics</a> | <a href="/docs/wallet/cold-wallet">Cold Wallet</a> | <a href="/docs/wallet/ledger-nano-s">Ledger Nano S</a>
					<p>Best practices, connecting to the ledger. Moving your quanta around.</p>
				</div>

				<div>
					<h2>Mining</h2>
					<a href="/docs/mining/linux">Linux</a> | <a href="/docs/mining/windows">Windows</a> | <a href="/docs/mining/mac">Mac</a>
					<p>How to connect to a pool or get started solo mining</p>
				</div>
				<div>
					<h2>Developers</h2>
                                        <a href="/docs/developers/api">API Docs</a> | <a href="/docs/developers/qryptonight">Qryptonight</a> | <a href="/docs/developers/block-explorer">Block Explorer</a>
					<p>Work off of the QRL API and build the next big thing</p>
				</div>
				<div>
					<h2>Quantum Resistance</h2>
                                        <a href="/docs/quantum/primer">Primer on QC</a> | <a href="/docs/quantum/">Another Topic</a>
					<p>What it means to be Quantum Resistant. What makes QRL Quantum Resistant.</p>
				</div>
				<div class="w12">
					<h1>Getting Involved</h1>
					<p>Help our poor overworked developers!</p>
                                        <a href="https://discord.gg/RcR9WzX">Discord</a> | <a href="https://github.com/theQRL/qrl">GitHub</a>
				</div>
			</div>

		</div>
	</div>
</div>
