---
layout: default
---
<div class="particles background">
  <div class="hat" 
    data-attach-class=".wrapper.header" 
    data-attach-position="bottom left" 
    data-child-anchor="bottom left" 
    data-offset-left="200" 
    data-offset-top="0"
    data-scale="0.8"
    data-rotate="-29">
  </div>    
</div>
<div class="wrapper hero">
	<div class="grid">
		<div class="w12">
			<h1>{{ page.title | escape }}</h1>
			<h2>{{ page.type | capitalize }} grant</h2>
      		<a href="/research/grants" class="cta">See more research grants</a>
 
		</div>
	</div>
</div>
</div>

<div class="wrapper intro">
	<div class="grid">
		<div class="w12">
   

			{{ page.content }}
		</div>
	</div>
</div>