---
layout: default
---
  <div class="wrapper hero">
  	<div class="grid">
  		<div class="w12">
  			<h1>{{ page.title | escape }}</h1>
        	{% if page.comments-uri %}
        	<a class="cta" href="{{ page.comments-uri }}">
        	  Comments {% if page.comments-count %}
        	    ({{ page.comments-count }})
        	  {% endif %}
        	</a> 
        	{% endif %}
        	<a class="cta inactive" id="wallet-download" href="#">Vote</a>

  		</div>
  	</div>
  </div>
</div>
<div class="wrapper qip-content">
	<div class="grid">
		<div class="w12">
			{{ content | remove:'<pre>' | remove:'</pre>' }}
		</div>
	</div>
</div>