.blogPageInner{
    font-family: $f-ProR;
    padding-top: 96px;
    .header{
        background-color: #0a1720;
        
    }
    // .blogPage__inner{
    //     // @include tablet{
    //     //     padding: 125px 100px;
    //     // }
    // }
    .blog-article{
        @include tablet{
            max-width: 466px;
        }
        em {
            font-family: "source_sans_proitalic", sans-serif;
        }
        h1{
            text-align: center;
            letter-spacing: -0.02em;
            font-size: 48px;
            line-height: 62px;
            font-family: $f-DinB;
            letter-spacing: -0.02em;
            margin-bottom: 42px;
            @include tablet{
                font-size: 32px;
                line-height: 41px;
                margin-bottom: 27px;
            }
            @include mobile {
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 34px;
            }
        }
        .center{
            text-align: center;
        }

        h2{
            font-size: 36px;
            line-height: 46px;
            text-transform: uppercase;
            color: $color-black;
            position: relative;
            font-family: $f-DinB;
            margin-top: 100px;
            margin-bottom: 100px;
            @include tablet{
                font-size: 28px;
                line-height: 36px;
                margin-top: 83px;
            }
            @include mobile{
                margin: 85px 0;
            }
            &:after {
                content: '';
                display: block;
                height: 5px;
                width: 30px;
                background-color: $color-blue;
                position: absolute;
                left: 0;
                bottom: -37px;
            }
        }
        h4 + div {
            margin-bottom: 37px;
        }
        h3{
            font-family: $f-DinB;
            font-size: 26px;
            line-height: 33px;
            margin-bottom: 50px;
            @include tablet{
                font-size: 22px;
                line-height: 28px;
            }
        }
        h4 {
            font-family: $f-DinB;
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 25px;
            @include tablet{
                font-size: 22px;
                line-height: 28px;
            }
        }
        p, ul{
            color: $color-black;
            font-size: 18px;
            line-height: 26px;
            margin: 40px 0;
            font-family: $f-ProR;
            @include tablet{
                margin: 35px 0;
            }
            
        }
        blockquote {
            border-left: 2px solid #4AAFFF;
            background-color: #FAFAFA;
            padding-right: 40px;
            padding-left: 40px;
            margin: 40px 0;
            padding-top: 1px;
            padding-bottom: 1px;
        }
        span{
            font-family: $f-ProL;
            font-size: 24px;
            line-height: 1.4;
        }
        a{
            text-decoration: underline;
            // display: inline-block;
            // word-break: break-all;

            transition: $time-3;
            &:hover{
                color: $color-yellow;
            }   
        }
        strong{
            font-family: $f-ProB;
            // font-weight: 500;
        }
        ul{
            ul {
                margin-top:0;
                margin-bottom:0;
            }
            padding-left: 18px;
            
            p{
                margin: 0 0 10px -18px;
            }
            li{
                list-style-type: disc;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 10px;
                font-family: $f-ProR;
                @include tablet{
                    margin-bottom: 17px;
                }
            }
            
            &.ul__number{
                li{
                    list-style: decimal;
                }
            }
        }
        hr{
            display: block;
            height: 1px;
            border: 0; border-top: 1px solid #CBD7E6;
            
        } 
        .author-box{
            margin: 27px 0 0 0;
            
            &-img{
                width: 72px;
                height: 66px;
                margin-right: 20px;
                img{
                    @include object-fit(cover);
                    width: 100%;
                    height: 100%;
                }
            }
            &-text{
                p:first-child{
                    line-height: 20px;
                    font-size:  14px;
                    margin: 0 0 9px 0;
                    text-transform: uppercase;
                }
                p:last-child{
                    font-family: $f-ProS;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0;
                }
            }
        }
        .box-border{
            border-left: 10px solid $color-blue;
            padding: 40px;
            background-color: rgba(#CBD7E6, .3);
            font-size: 18px;
            line-height: 26px;
            @include tablet{
                border-width: 6px;
                padding: 33px;
                margin: 53px 0;
            }
            @include mobile{
                padding: 33px 25px 40px;
            }
        }
        .date-box{
            margin-bottom: 37px;
            font-family: $f-ProL;
            span{
                font-size: 20px;
            }
            @include tablet{
                font-size: 20px;
                margin-bottom: 32px;
            }
        }
        .place-date{
            margin-top: 19px;
            flex-wrap: nowrap;
            &.mt0{
                margin-top: 0;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                font-family: $f-ProR;
                color: rgba(0, 0, 0, 0.5);
                margin: 0;
                &:first-child{
                    // padding-right: 20px;
                    @include tablet{
                        max-width: 280px;
                    }
                }
                &:last-child{
                    min-width: 120px;
                    text-align: right;
                }
            }
            a{
                text-decoration: none;
                background-color: rgba(255, 167, 41, 0.2);
            }
        }
        &__inner{
            padding-bottom: 35px;
        }
    }
    
}