body.quantum-news {
    .img-header {
        position:relative;

        
        .captions {
            display: flex;
            flex-direction: column;
            // align-content: flex-end;
            align-items: flex-end;
            margin-top:-30.8px;
            
            div {
                max-width: fit-content;
                // background-color:#EEE;
                font-weight: bold;
                font-size:13px;
                padding:1px 8px;
                margin:0;

            }
            .img-caption {
                background-color:#222;
                color:#FFF;
            }
        }
    }
    // p.img-caption {
    //     // position:relative; bottom:0px; right:0;
    //     background-color:#000;
    //     color: #FFF;
    //     font-size: 80%;
    //     padding: 1px 7px;
    //     margin:0;
    // }
    // p.img-credits {
    //     // position:relative; bottom:0px; right:0px;
    //     background-color:#F00;

    //     color: #FFF;
    //     font-size: 80%;
    //     padding: 1px 7px;
    //     margin:0;
    // }
    .quantum-news-organization {
        height: 30px;
      }
    .flex-orgs {
        margin: 0px -10px;
        > div {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            // align-content: stretch;
            
            a {
                text-align: center;
                flex: auto;
                margin:10px;
                border: 1px solid #EAEAEA; 
                background-color: #FCFCFC;
                border-radius: 6px;
                padding: 20px 20px 10px 20px;
            }
            a:nth-child(n+11) {
                display:none;
            }
        }
        &--full { 
            > div {
                a:nth-child(N+11) {
                    display:unset;
                }
            }
            .button {
                display:none;
            }
        }
        .button {
            width:fit-content;
            max-width: 100%;
        }
    }
    .blogPage__pag + .flex-orgs {
      margin-top:50px;
    }
}

body.quantum-news-list {
    .listPage__item {
        h2 {
            margin-bottom:0;
        }
        a img {
            margin:16px 0;
        }
        .blog-article__inner {
            padding-bottom:0;
        }
    }
}

