.footernav {
	background-color:#160527;

	a {
		color:#FFF;
	}
}
.footernav .grid {
	.whitepaper {
		nav > ul > li {
			a {
				font-family: 'Roboto';
				background-color: transparent;
				text-decoration: none;
				color: #FFF;

				&:hover {
					background-color:#EEE;
				}
			}
			> a {
				border:0px solid #000;
				padding:10px 20px;
				box-shadow: none;
			}
		}
	}
}
.wrapper.footer {
	background-image:url(/assets/particles/orb.png);
	background-repeat: no-repeat;
	background-position: bottom -100px right -40px;
	background-color:#160527;
	color:#FFF;
	@include md {
		padding-top:100px;
		padding-bottom: 100px;
	}


	h3 {
		color:#FFF;
		text-align: center;
		font-size:15px; 
		line-height: 24px;
		text-transform: uppercase;
	}
	
	p {
		color:#FFF;
	}
}
.wrapper.footerlinks {
	padding-top:10px; padding-bottom:10px;
	background-color:#0F031C;
	color:#FFF;

	@include md-max {
		.grid > div {
			grid-column: span 6;
		}
		.grid > div:first-child {
			grid-column: span 12;
		}
	}
	h3 {
		color:#FFF;
	}
	ul {
		padding-left:0;
	}
	ul li {
		list-style:none;
	}
}

.wrapper.footer-signup {

	padding-top:10px; padding-bottom: 10px;
	@include md {
		padding-top:40px; padding-bottom: 40px;
	}

	background-color:#0F031C;
	color:#FFF;

	label {
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
    margin-bottom: 7px;
    display: inline-block;
		text-transform: uppercase;
	}

	input {
		padding:5px 10px;
		line-height: 32px;
		font-size:14px;
		border:0;
		width:100%;

		&[type=submit] {
			background-color: $quantum_burst;

			color:#FFF;
		}
	}
	@include sm-max {
		> .grid > div {
			grid-column: span 12;
		}
	}
	.submit {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	.social {
		ul {
			display:flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-direction:row;
			width:100%;
			margin: 0;
			height: 100%;
			padding-left:0;
		}
		li {

			margin:5px;
			margin-bottom: 0;
			list-style:none;
			
			a {
				display:block;
				width:40px; height:40px;
				padding:7px;
				color:#FFF;
				background-color: $quantum_burst;
				border-radius: 50%;
				font-size:0;
				svg {
					width:25px; height:25px;
				}
			}
		}
	}
}



.blog-card {
	.author {
		display:none;
	}

	font-weight: 300;
	.title h2 {
		font-family: $heading_font;
		font-weight: 400;
		font-size: 31px;
		line-height: 42px;
		color:#FFF;
		margin-bottom: 14px;

		a {
			text-decoration: none;			
			color:#FFF;

		}
	}
	.cta {
		border:1px solid #FFF;
		background-color:transparent;
	}
	p {
		line-height: 28px;
		color:#AAA;
	}
	// First item
	&:first-child {
		.title h2 {
			font-size:42px;
			line-height: 56px;

		}

		.cta {
			border:none;
			background-color:$quantum_burst;
		}
	}
}