.wrapper.footer {
	background-image:url(/assets/particles/orb.png);
	background-repeat: no-repeat;
	background-position: bottom -100px right -40px;
	background-color:#160527;
	color:#FFF;
	@include md {
		padding-top:100px;
		padding-bottom: 100px;
	}


	h3 {
		color:#FFF;
		text-align: center;
		font-size:15px; 
		line-height: 24px;
		text-transform: uppercase;
	}
	
	p {
		color:#FFF;
	}
}
.wrapper.footerlinks {
	padding-top:10px; padding-bottom:10px;
	background-color:#0F031C;
	color:#FFF;
	.footer-logo img {
		color:#FFF;
		fill:#FFF;
		max-width: 35px;
	}

	@include md-max {
		.grid > div {
			grid-column: span 6;
		}
		.grid > div:first-child {
			grid-column: span 12;
		}
	}
	h3 {
		font-size: 20px;
		color:#FFF;
	}
	ul {
		margin-top:0;
		padding-left:0;
	}
	ul li {
		list-style:none;
	}
}

.wrapper.footer-signup {

	padding-top:10px; padding-bottom: 10px;
	@include md {
		padding-top:40px; padding-bottom: 40px;
	}

	background-color:#0F031C;
	color:#FFF;

	label {
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
    margin-bottom: 7px;
    display: inline-block;
		text-transform: uppercase;
	}

	input {
		padding:5px 10px;
		line-height: 32px;
		font-size:14px;
		border:0;
		width:100%;

		&[type=submit] {
			background-color: $quantum_burst;
			cursor: pointer;
			color:#FFF;

			&:hover {
				background-color: $quantum_hover;
			}
		}
	}
	@include sm-max {
		> .grid > div {
			grid-column: span 12;
		}
	}
	.submit {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	.social {
		ul {
			display:flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-direction:row;
			width:100%;
			margin: 0;
			height: 100%;
			padding-left:0;
		}
		li {

			margin:5px;
			margin-bottom: 0;
			list-style:none;
			
			a {
				display:block;
				width:40px; height:40px;
				padding:7px;
				color:#FFF;
				background-color: $quantum_burst;
				border-radius: 50%;
				font-size:0;
				&:hover {
					background-color: $quantum_hover;
				}
				svg {
					width:25px; height:25px;
				}
				path {
					fill:#FFF;
				}
			}
		}
	}

}



.blog-card {
	.author {
		display:none;
	}
	li {
		color:#FFF;
	}

	font-weight: 300;
	.title h2 {
		font-family: $heading_font;
		font-weight: 400;
		font-size: 31px;
		line-height: 42px;
		color:#FFF;
		margin-bottom: 14px;

		a {
			text-decoration: none;			
			color:#FFF;

		}
	}
	.cta {
		border:1px solid #FFF;
		font-weight: 500;
		color: #FFF;
		background-color:transparent;
		
		&:hover {
			background-color: transparent;
			color: $quantum_burst;
		}
	}
	p {
		line-height: 28px;
		color:#AAA;
	}
	// First item
	&:first-child {
		.title h2 {
			font-size:42px;
			line-height: 56px;
		}

		.cta {
			border:none;
			background-color:$quantum_burst;
			color: #FFF;

			&:hover {
				background-color: $quantum_hover;
			}
		}
	}
}
.events {
	padding-top:0;
	padding-bottom: 40px;
	@include lg {
		padding-top:0px;
		padding-bottom: 220px;
	}

	.footer-conferences {
		@include lg {
			grid-column-gap: 3em;
		}


		.footer-conference {
			@include sm-max {
				grid-column: span 12;

				.cta {
					width:100%;
				}
			}
		}
	}

	.footer-conference {
		margin:10px;
		background-color:#FFF;
		box-shadow: $shadow;
		text-align: center;
		h2 {
			font-size:25px;
		}
		.image {
			min-height: 200px;
			position: relative;
		}
		img {
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			margin: auto;
			
			max-width: 100%; max-height: 100%;
			// left:50%;
			// transform: translateY(-50%);
		}
		.cta {
			text-transform: uppercase;
			font-size:12px;
		}
	}
}