/* 
 * Structure
 * nav.role>ul>li>a
 */

/* Basic Navigation layout */
nav {
  ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
	position:relative;

    li{
    	
      > ul{
      	width:100%;
        display:none;
        position:absolute;
        left:0;
      }
      &:hover{
        > ul{
          display:flex;
        }
      }
    }
  } 
 
  a{
    display:block;
    width:100%;
  }

}