{{ $start := .Get "start" }}
{{ $end := (.Get "end" | time.AsTime).AddDate 0 0 1 }}

{{ $qnews_collection := (sort (where .Site.Pages "Params.layout" "qnews") ".Params.date" "desc") }}

{{ range $qnews_collection }}


{{ if and ((time .Params.date).After (time $start )) ((time .Params.date).Before (time $end )) }}

### {{ .Params.title }}

{{ if .Params.img }}
![]({{ .Params.img }}-thin.webp)
{{ end }}

On **{{ .Params.date.Format .Site.Params.dateFormat }}**: {{ .Params.blurb }} \- [{{ .Params.org }}]({{ .Params.link }})

[Read More]({{ .Permalink }})

{{ end }}

{{ end }}