h1, h2, h3, h4, h5, h6 {
	font-family: $heading_font;
	margin:0;
	color:#111;
}

h1, h2 {
	font-weight: 300;
}

h3, h4 {
	font-weight: 400;
}

p, li {
	font-family: $body_font;
	font-size:14px;
	line-height: 24px;
	color:#444;
}

p, ul, ol {
	margin:14px 0;
}

h5 {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;	
}
h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
h3 {
	font-size: 24px;
	line-height: 48px;
}
h2 {
	font-size: 32px;
	line-height: 48px;
}
h1 {
	font-size: 60px;
	line-height: 72px;
}
h1 {
	@include sm-max {
		font-size: 42px;
		line-height: 48px;
		font-weight: 500;	
	}
}
